@using Warranty.UI.Core.Helpers
@model Warranty.Core.Features.JobSummary.JobSummaryModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Job # @Html.DisplayFor(x => x.JobNumber)
                                <small>@Format.YearsWithinWarranty(Model.YearsWithinWarranty, Model.WarrantyStartDate)</small>
                            </h4>
                        </div>
                        <div class="col-md-4 pull-right">
                            @Html.ActionLink("Create Call", "Create", "ServiceCall", new{id=Model.JobId}, new{@class="btn btn-default pull-right"})
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            @Html.DisplayFor(x => x.HomeOwnerName)
                            <br/>
                            @Html.DisplayFor(x => x.AddressLine)
                            <br/>
                            @Model.City, @Model.StateCode @Model.PostalCode
                            <br/>
                            @Format.PhoneNumber(Model.PhoneNumber)
                            <br/>
                            @Format.Email(Model.Email)
                        </div>
                        <div class="col-md-4">
                            @Html.DisplayFor(x => x.PlanTypeDescription)
                            <br/>
                            @Html.DisplayFor(x => x.PlanName)
                            <br/>
                            Elevation: @Html.DisplayFor(x => x.Elevation)
                            <br/>
                            Swing: @Html.DisplayFor(x => x.Swing)
                        </div>
                        <div class="col-md-4">
                            Builder: @Html.DisplayFor(x => x.BuilderName)
                            <br/>
                            Sales: @Html.DisplayFor(x => x.SalesConsultantName)
                            <br/>
                            <br/>
                            Close Date: <span class="text-danger">@Format.DateMonthDayYear(Model.CloseDate)</span>
                        </div>
                    </div>
                    <br />
                    @*<div class="row">
                        <div class="col-md-3">
                            @Html.DisplayFor(x => x.PlanTypeDescription)
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(x => x.PlanName)
                        </div>
                        <div class="col-md-3">
                            Elevation : @Html.DisplayFor(x => x.Elevation)
                        </div>
                        <div class="col-md-3">
                            Swing : @Html.DisplayFor(x => x.Swing)
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#job_service_calls" role="tab" data-toggle="tab">Call History <span class="label label-default">@Model.JobServiceCalls.Count()</span></a></li>
                <li><a href="#job_selections" role="tab" data-toggle="tab">Options <span class="label label-default">@Model.JobSelections.Count()</span></a></li>
                <li><a href="#job_vendors" role="tab" data-toggle="tab">Vendors </a></li>
                <li><a href="#job_payments" role="tab" data-toggle="tab">Payments </a></li>
            </ul>
        
            <div class="tab-content">
                <div class="tab-pane active" id="job_service_calls">
                    @foreach (var line in Model.JobServiceCalls.OrderByDescending(x=>x.CreatedDate))
                    {
                        <div class="service-call-line col-md-12">
                            <div class="col-md-1">
                                <small class="text-muted">
                                    @Html.ActionLink(line.CallNumber, "CallSummary", "ServiceCall", new {id = line.ServiceCallId}, null)
                                </small>
                            </div>
                            <div class="col-md-7 text-capitalize small">
                                <b>Line Item Problem Descriptions</b>
                                <ul>
                                @foreach (var summary in line.SummaryOfLineItems)
                                {
                                    <li>@Html.Raw(summary)</li>
                                }
                                </ul>
                                Assigned to @Html.DisplayFor(x => line.AssignedTo)
                                <br/>
                                @(line.CompletionDate == null ? "Date Added: " + Format.DateMonthDayYear(line.CreatedDate) : "Date Completed: " + Format.DateMonthDayYear(line.CompletionDate))
                            </div>
                            <div class="col-md-2">
                                @if (line.JobServiceCallNotes.Any(x => !string.IsNullOrEmpty(x.Note))) { 
                                    <div class="text-center has-bottom-tooltip" title="No. Of Notes">
                                        <a data-toggle="collapse" href="#collapseJobCallLineNotes@(line.CallNumber)" class="text-capitalize accordion-toggle collapsed">
                                            <span class="glyphicon glyphicon-comment"> <u>@line.JobServiceCallNotes.Count()</u></span>
                                        </a>
                                    </div>
                                }
                            </div>
                            @if (line.CompletionDate == null)
                            {
                                <div class="col-md-2 has-bottom-tooltip" title="@Format.DateForServiceCallWiget(line.CreatedDate)">
                                    <span class="glyphicon glyphicon-time text-muted"></span> @Format.ServiceCallDaysLeft(@line.NumberOfDaysRemaining)<br/>
                                    <div class="progress time-remaining-progress hidden-sm hidden-xs">
                                        <div class="progress-bar @Css.ServiceCallProgressBar(line.NumberOfDaysRemaining)" role="progressbar" style="width: @line.PercentComplete%">
                                            <span class="sr-only">@line.PercentComplete% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                 <div class="col-md-1 pull-right">@Format.DaysOpenedFor(line.DaysOpenedFor, line.CreatedDate, line.CompletionDate)</div>
                            }            
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div id="collapseJobCallLineNotes@(line.CallNumber)" class="collapse panel-body no-left-right-padding">
                                        @foreach (var noteLine in line.JobServiceCallNotes)
                                        {
                                            <div class="service-call-line">
                                                <small>
                                                    @Html.DisplayFor(x => noteLine.Note)
                                                </small>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            
                            <div class="clearfix"></div>
                        </div>
                    }
                </div>
                <div class="tab-pane" id="job_selections">
                    <div class="col-md-12">
                    @foreach (var selection in Model.JobSelections)
                    {
                        <div class="service-call-line">
                            <div class="col-md-1">
                                <small class="text-muted">
                                    @Html.DisplayFor(x => selection.OptionNumber)
                                </small>
                            </div>
                            <div class="col-md-11 text-capitalize small">
                                @Html.DisplayFor(x => selection.OptionDescription)
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }
                    </div>
                </div>
                <div class="tab-pane" id="job_vendors">
                    <div class="col-md-12">
                        Vendor Information - Coming Soon
                    </div>
                </div>
                <div class="tab-pane" id="job_payments">
                    <div class="col-md-12">
                        Payment Information - Coming Soon
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
