@using Warranty.Core.Configurations
@using Warranty.Core.Enumerations
@using Warranty.Core.Extensions
@using Warranty.Core.Features.JobSummary
@using Warranty.UI.Core.Helpers
@using Common.Extensions
@model JobSummaryModel

@functions {
    private bool IsFirstHomeowner(JobSummaryModel.Homeowner homeowner)
    {
        return Model.Homeowners.OrderBy(x => x.CreatedDate).Take(1).Any(x => x.CreatedDate == homeowner.CreatedDate && x.HomeownerName == homeowner.HomeownerName);
    }
}

@helper GetSummaryLinesForHomeOwner(JobSummaryModel.Homeowner homeowner)
{
    if (!Model.JobServiceCalls.Any())
    {
        return;
    }

    var serviceCalls = Model.JobServiceCalls;
    var hasMultipleHomeowners = Model.Homeowners.Count() > 1;
    if (hasMultipleHomeowners)
    {
        if (IsFirstHomeowner(homeowner))
        {
            var nextHomeowner = Model.Homeowners.OrderBy(x => x.CreatedDate).First(x => x.HomeownerName != homeowner.HomeownerName);
            serviceCalls = serviceCalls.Where(x => x.CreatedDate < nextHomeowner.CreatedDate);
        }
        else
        {
            var nextHomeowner = Model.Homeowners.OrderBy(x => x.CreatedDate).FirstOrDefault(x => x.HomeownerName != homeowner.HomeownerName && x.CreatedDate > homeowner.CreatedDate);
            var nextHomeownerCreatedDate = nextHomeowner != null ? nextHomeowner.CreatedDate : DateTime.UtcNow;

            serviceCalls = serviceCalls.Where(x => x.CreatedDate < nextHomeownerCreatedDate && x.CreatedDate > homeowner.CreatedDate);
        }
    }

    foreach (var serviceCall in serviceCalls.OrderByDescending(x => x.ServiceCallStatus.DisplayName).ThenByDescending(x => x.CompletionDate))
    {
        <div class="service-call-line col-md-12 cursor-pointer" onclick=" location.href = '@Url.Action("CallSummary", "ServiceCall", new { id = serviceCall.ServiceCallId })' ">
            <div class="col-md-1">
                <small class="text-muted">@serviceCall.CallNumber</small>
            </div>
            <div class="col-md-7 text-capitalize small">
                @if (serviceCall.NumberOfLineItems > 0)
                {
                    <b>Line Item Problem Descriptions</b>
                    <ul>
                        @foreach (var summary in serviceCall.SummaryOfLineItems)
                        {
                            <li>@Html.Raw(summary)</li>
                        }
                    </ul>
                }
                else
                {
                    <p><em>This Service Call has no Line Items</em></p>
                }
                Assigned to @Html.DisplayFor(x => serviceCall.AssignedTo)
                <br/>
                <span class="text-capitalize small">@(serviceCall.CompletionDate == null ? "Date Added: " + Format.DateMonthDayYear(serviceCall.CreatedDate) : "Date Completed: " + Format.DateMonthDayYear(serviceCall.CompletionDate))</span>
            </div>
            <div class="col-md-2">
                @if (serviceCall.JobServiceCallNotes.Any(x => !string.IsNullOrEmpty(x.Note)))
                {
                    <div class="text-center has-bottom-tooltip" title="No. Of Notes">
                        <a data-toggle="collapse" href="#collapseJobCallLineNotes@(serviceCall.CallNumber)" class="text-capitalize accordion-toggle collapsed">
                            <span class="glyphicon glyphicon-comment"> <u>@serviceCall.JobServiceCallNotes.Count()</u></span>
                        </a>
                    </div>
                }
            </div>
 
            <div class="col-md-2">
                @if (serviceCall.CompletionDate == null)
                {
                    if (!serviceCall.IsSpecialProject)
                    {
                        <div class="has-bottom-tooltip pull-right" style="float: right" title="@Format.DateForServiceCallWiget(serviceCall.CreatedDate)">
                            <span class="glyphicon glyphicon-time text-muted"></span> @Format.ServiceCallDaysLeft(serviceCall.NumberOfDaysRemaining)<br/>
                            <div class="progress time-remaining-progress hidden-sm hidden-xs">
                                <div class="progress-bar @Css.ServiceCallProgressBar(serviceCall.NumberOfDaysRemaining)" role="progressbar" style="width: @serviceCall.PercentComplete%">
                                    <span class="sr-only">@serviceCall.PercentComplete% Complete</span>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="pull-right">@Format.DaysOpenedFor(serviceCall.DaysOpenedFor, serviceCall.CreatedDate, serviceCall.CompletionDate)</div>
                } 
                <div id="approveCommands" class="margin-top-10 pull-right">
                    @if (serviceCall.ServiceCallStatus == ServiceCallStatus.Requested && serviceCall.CanApprove)
                    {
                        <a href="#" data-service-call-id="@serviceCall.ServiceCallId" data-display-status="false" class="approve-button"><span class="glyphicon glyphicon-thumbs-up approve-todo"></span>&nbsp;Approve</a>
                        <a href="#" data-service-call-id="@serviceCall.ServiceCallId" data-display-status="false" class="deny-button"><span class="glyphicon glyphicon-thumbs-down deny-todo"></span>&nbsp;Deny</a>
                    }
                </div>  
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div id="collapseJobCallLineNotes@(serviceCall.CallNumber)" class="collapse panel-body no-left-right-padding">
                        @foreach (var noteLine in serviceCall.JobServiceCallNotes)
                        {
                            <div class="service-call-line">
                                <small>
                                    @Html.DisplayFor(x => noteLine.Note)
                                </small>
                            </div>
                        }
                    </div>
                </div>
            </div>
                            
            <div class="clearfix"></div>
        </div>
    }
}
<div class="container">
    <div class="col-md-12">
        @Html.HiddenFor(model => model.JobId, new { id = "jobId" })

        <section class="margin-bottom-10">
            <h2 class="pull-left no-margin">Job #@Model.JobNumber <small>@Format.YearsWithinWarranty(Model.YearsWithinWarranty, Model.WarrantyStartDate, Model.Stage)</small>
            </h2>
            <div class="pull-right">
                @using (Html.BeginForm("Create", "ServiceCall", new { id = Model.JobId }))
                {
                    if (Model.Stage >= 10 && Model.CloseDate != null)
                    {
                        if (User.IsInRole(UserRoles.WarrantyServiceCoordinator) || User.IsInRole(UserRoles.CustomerCareManager))
                        {
                            @Html.ActionLink("Change Homeowner", "ChangeHomeowner", "Job", new {id = Model.JobId}, new {@class = "btn btn-default margin-right-10"})
                        }

                        <input type="submit" value="Create Call" class="btn btn-default pull-right"/>
                    }
                    @Html.HiddenFor(x => x.JobId)
                }
            </div>
            <div class="clearfix"></div>
        </section>

        <div id="jobSummaryPage" class="panel panel-default">
            <div class="panel-heading">
                <div class="row remove-list-style">
                    <div class="col-md-4 main-info">
                        <h3 class="panel-title text-capitalize">@Format.HomeOwner(Model.HomeOwnerName, Model.HomeOwnerNumber)</h3>
                        <ul>
                            <li></li>
                            <li>@Html.DisplayFor(x => x.CommunityName)</li>
                            <li>@Html.DisplayFor(x => x.AddressLine)</li>
                            <li>@Model.City, @Model.StateCode @Model.PostalCode</li>
                            @if (Model.Stage >= 10)
                            {
                                <li>
                                    @Format.EditablePhoneNumber(PhoneNumberType.Home, Format.PhoneNumberWithExtension(Model.HomePhone), Url.Action("AddOrUpdatePhoneNumber", "Homeowner"), Model.HomeownerId)
                                </li>
                                <li>
                                    @Format.EditableEmailForJob(Model.EmailAddress, Url.Action("AddOrUpdateEmail", "Homeowner"), Model.HomeownerId)
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="border-bottom-1-solid">
                            <li class="clearfix">@Html.DisplayFor(x => x.PlanTypeDescription)</li>
                            <li class="clearfix">Plan Number: @Html.DisplayFor(x => x.PlanNumber) - @Html.DisplayFor(x => x.PlanName) - @Html.DisplayFor(x => x.Elevation)</li>
                            <li class="clearfix">Project Name: @Html.DisplayFor(x => x.ProjectName)</li>
                            <li class="clearfix">Swing: @Html.DisplayFor(x => x.Swing)</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="border-bottom-1-solid">
                            <li class="clearfix">Builder: @Model.BuilderName.ToTitleCase()</li>
                            <li class="clearfix">Sales: @Model.SalesConsultantName.ToTitleCase()</li>
                            <li class="clearfix">Service Rep: @Model.ServiceRepName.ToTitleCase()</li>
                            <li class="clearfix">Close Date: <span class="text-danger">@Format.DateMonthDayYear(Model.CloseDate)</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            @Html.Partial("_AdditionalContacts", Model.HomeownerId)

            <div class="col-md-12 no-left-right-padding margin-top-10">
                <ul class="nav nav-tabs responsive" role="tablist">
                    <li class="active"><a href="#job_service_calls" role="tab" data-toggle="tab">Call History <span class="label label-default">@Model.JobServiceCalls.Count()</span></a></li>
                    <li><a href="#job_selections" role="tab" data-toggle="tab">Options <span class="label label-default">@Model.JobSelections.Count()</span></a></li>
                    <li><a href="#job_vendors" role="tab" data-toggle="tab">Vendors <span class="label label-default">@Model.Vendors.Count()</span></a></li>
                    <li><a href="#job_payments" role="tab" data-toggle="tab">Payments <span class="label label-default">@Model.JobPayments.Count()</span></a></li>
                    <li><a href="#job_milestones" role="tab" data-toggle="tab">Milestones <span class="label label-default">@Model.Tasks.Count()</span></a></li>
                </ul>

                <div class="tab-content responsive">
                    <div class="tab-pane active" id="job_service_calls">
                        @foreach (var homeowner in Model.Homeowners.OrderByDescending(x => x.CreatedDate))
                        {
                            @GetSummaryLinesForHomeOwner(homeowner)
                            if (IsFirstHomeowner(homeowner))
                            {
                                if (!string.IsNullOrEmpty(homeowner.HomeownerName) && Model.Homeowners.Count() > 1)
                                {
                                    <div class="service-call-line col-md-12 no-padding">
                                        <div class="alert alert-info no-bottom-margin"><strong>Original Homeowner</strong> was @homeowner.HomeownerName</div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="service-call-line col-md-12 no-padding">
                                    <div class="alert alert-info no-bottom-margin"><strong>Homeowner changed</strong> on @Format.DateMonthDayYear(homeowner.CreatedDate) to @homeowner.HomeownerName</div>
                                </div>
                            }
                        }

                        <section >
                            <h3 class="col-md-12 margin-top-10">Attachments
                                <span>
                                    <button type="button" class="btn btn-default pull-right has-bottom-tooltip" title="Add Attachment" data-toggle="collapse" data-target="#addJobAttachment"><span class="glyphicon glyphicon-plus"></span></button>
                                </span>
                            </h3>
                            <div id="addJobAttachment" class="collapse">
                                <div class="panel-body no-bottom-padding">
                                    <div class="row">
                                        <div class="col-md-12">
                                            @using (Html.BeginForm("UploadAttachment", "Job"))
                                            {
                                                @Html.HiddenFor(x => Model.JobId, new { @Name = "JobId" })
                                                @Html.EditorFor(x => x.TempFiles)
                                                <input type="submit" class="btn btn-primary trigger-file-uploader" value="Add" />
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#addJobAttachment">Cancel</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <em data-bind="visible: allJobAttachments().length < 1" class="padding-left-15 padding-top-7 pull-left">There are no attachments to display</em>
                            <div class="remove-list-style attachments row">
                                <div class="clearfix"></div>
                                <br/>
                                <ul data-bind="foreach: allJobAttachments">
                                    <li>
                                        <a class="attached-file" data-bind="css: 'download-attachment', attr:{'href': '@Url.Action("DownloadAttachment", "Job")/' + jobAttachmentId}">
                                            @if (User.IsInRole(UserRoles.WarrantyServiceCoordinator) || User.IsInRole(UserRoles.CustomerCareManager))
                                            {
                                                <span data-url="" data-bind="attr: { 'data-attachment-id': jobAttachmentId, 'data-url':'@Url.Action("DeleteAttachment", "Job")    '}, css: 'boxclose', click: $parent.removeAttachment.bind($parent)"></span>
                                            }
                                            <span class="glyphicon glyphicon-file"></span>
                                        </a>
                                        <a href="#" data-bind="attr: { 'data-attachment-id': jobAttachmentId}, editable: displayName, editableOptions: { pk: jobAttachmentId, url: '@Url.Action("RenameAttachment", "Job")    '}"  class="attached-file-display-name"></a>
                                        <br/>
                                        <p data-bind="text: createdBy + ' on ' + moment(createdDate).format('L'), css: 'attachment-info'"></p>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        <section >
                            <h3 class="col-md-12 margin-top-10">Notes
                                <span>
                                    <button type="button" class="btn btn-default pull-right has-bottom-tooltip" title="Add Note" data-toggle="collapse" data-target="#addJobNote"><span class="glyphicon glyphicon-plus"></span></button>
                                </span>
                            </h3>
                            <div id="addJobNote" class="collapse">
                                <div class="panel-body no-bottom-padding">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="control-group" data-bind="validationElement: jobNoteDescriptionToAdd">
                                                @Html.TextArea("Description", null, new { id = "addJobNoteDescription", @class = "form-control", data_bind = "text: jobNoteDescriptionToAdd, value: jobNoteDescriptionToAdd, valueUpdate: 'afterkeydown', attr:{placeholder: 'Add note'}", @rows = 3 })
                                            </div>

                                        </div>
                                    </div>
                                    <br/>
                                    <div class="form-submit">
                                        <button class="btn btn-primary" data-bind="click: addJobNote">Add</button>
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#addJobNote" data-bind="click: cancelJobNote">Cancel</button>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <em data-bind="visible: allJobNotes().length < 1" class="padding-left-15 padding-top-7 pull-left">There are no notes to display</em>
                            <div class="remove-list-style">
                                <div class="clearfix"></div>
                                <br/>
                                <ul>
                                    <div data-bind="foreach: allJobNotes">
                                        <div id="allJobNotes" class="service-call-line">
                                            <li class="row">
                                                <div class="col-md-12">
                                                    <div class="no-left-right-padding">
                                                        <div class="row">
                                                            <div class="col-md-11">
                                                                <span data-bind="text: createdBy"></span>
                                                                <span data-bind="text: moment(createdDate).format('L')"></span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <p data-bind="text: note"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="tab-pane" id="job_selections">
                        @if (Model.JobSelections.Any())
                        {
                            <div id="jobOptionsList" class="panel-group margin-top-10">
                                @foreach (var category in Model.JobSelections.Select(i => i.Category).Distinct().OrderBy(Category=>Category).ToList())
                                {
                                <div class="panel list-group-item">
                                    <div class="accordion-toggle cursor-pointer panel-heading" data-toggle="collapse" data-target="#collapseOptions@(Model.JobSelections.Where(i => i.Category == category).ElementAt(0).Category)">
                                        <a href="#">@category</a>
                                    </div>
                                    <div id="collapseOptions@(category)" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            @foreach (var selection in Model.JobSelections.Where(i => i.Category == category))
                                            {
                                                <div class="service-call-line" >
                                                    <div class="col-md-6 text-capitalize small">
                                                        <div>@Html.DisplayFor(x => selection.OptionDescription)</div>
                                                        <div class="text-muted">
                                                            @Html.DisplayFor(x => selection.OptionNumber)
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 small">
                                                        @Html.DisplayFor(x => selection.Notes)
                                                        @foreach (var attribute in selection.Attributes)
                                                        {
                                                            <div>
                                                                @Html.DisplayFor(x => attribute.Type):
                                                                @Html.DisplayFor(x => attribute.Value)
                                                            </div>
                                                        }
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        }
                        else
                        {
                                <div class="margin-top-10"><span>No option selections found.</span></div>
                        }
                    </div>
                    <div class="tab-pane" id="job_vendors">
                        <div class="col-md-12 margin-top-10">
                            <div class="row">
                                <div class="col-md-4">
                                    <select class="form-control" data-bind="options: costCodes, optionsText: 'costCodeDescription' , value: selectedCostCode, optionsCaption: 'Filter by Cost Code...'"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
<!-- ko foreach: groupedVendors-->
                            <div class="row margin-top-10" data-bind="foreach: $data">
                                <div class="col-md-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading"><div class="panel-title"><span class="panel-title text-capitalize" data-bind="text: name + ' (' + number + ')'"></span></div></div>
                                        <div class="panel-body">
                                            <strong>Work Performed</strong>
                                            <p>
                                                <small><span data-bind="text: costCodesSeparatedByComma"></span></small>
                                            </p>
                                            <!-- ko if: contactInfo.length > 0 -->
                                            <strong>Contact Information</strong>
                                            <p data-bind="foreach: contactInfo">
                                                <!-- ko if: type != 'E-mail'-->
                                                <small><span data-bind="text: value"></span> <span data-bind="    text: type!=''?'(' + type + ')': ''"></span></small><br/>
                                                <!-- /ko -->
                                                <!-- ko if: type === 'E-mail'-->
                                                <small><a data-bind="text: value, attr: { href: 'mailto:'+value} "></a></small><br/><!-- /ko -->                            
                                            </p>
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                    <div class="tab-pane" id="job_payments">
                        <em data-bind="visible: allJobPayments().length < 1" class="padding-left-15 padding-top-7 pull-left">No Payments Available</em>
                        <div class="remove-list-style">
                            <div class="clearfix"></div>
                            <br />
                            <ul data-bind="foreach: allJobPayments">
                                <div id="allServiceCallPayments">
                                    <li class="row service-call-line">
                                        <div class="col-md-12 margin-bottom-5">
                                            <div class="no-left-right-padding">
                                                <div class="row payment-line">
                                                    <div class="col-md-4">
                                                        <strong><span data-bind="text: vendorName"></span></strong>
                                                        <br />
                                                        <span data-bind="text: paymentStatusDisplayName, css: 'label label-' + paymentStatusBadgeClassName()"></span>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span data-bind="text: 'Invoice #:' + invoiceNumber"></span>
                                                        <br />
                                                        <span data-bind="text: 'Date:' + moment(paymentCreatedDate).format('L')"></span>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <h4 data-bind="currency: amount"></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" data-bind="visible: isBackcharge">
                                            <div class="margin-bottom-10">
                                                <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;<a data-toggle="collapse" class="cursor-pointer" data-bind="attr:{'data-target': '#backcharge-' + paymentId}">Backcharge</a>
                                            </div>
                                            <div class="row backcharge-container collapse" data-bind="attr: { id: 'backcharge-' + paymentId }">
                                                <div>
                                                    <div class="col-md-12 margin-top-10">
                                                        <span data-bind="text: backchargeStatusDisplayName, css: 'label label-' + backchargeStatusBadgeClassName()"></span>
                                                    </div>
                                                    <div class="col-md-6 margin-top-10">
                                                        <small>
                                                            <strong><span data-bind="text: backchargeVendorName"></span></strong>
                                                            <br />
                                                            <span data-bind="text: backchargeReason"></span>
                                                        </small>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <small>
                                                            <span><strong>Backcharge Amount: </strong></span></small>
                                                        <h4 data-bind="currency: backchargeAmount"></h4>
                                                    </div>
                                                    <div class="col-md-12 margin-top-10 margin-bottom-10">
                                                        <small>
                                                            <span data-bind="text: 'Notified ' + personNotified + ' on ' + personNotifiedDate"></span>
                                                            <br />
                                                            <strong>Phone: </strong><span data-bind="text: personNotifiedPhoneNumber"></span>
                                                            <br />
                                                            <strong>Response from Vendor: </strong><span data-bind="text: backchargeResponseFromVendor"></span>
                                                        </small>
                                                    </div>
                                                    <div class="col-md-12 alert alert-warning no-bottom-margin" data-bind="visible: isBackchargeHeld">
                                                        <strong><span data-bind="text: backchargeStatusDisplayName"></span></strong> - <span data-bind="    date: backchargeHoldDate"></span>- <span data-bind="    text: backchargeHoldComments"></span>
                                                    </div>
                                                    <div class="col-md-12 alert alert-danger no-bottom-margin" data-bind="visible: isBackchargeDenied">
                                                        <strong><span data-bind="text: backchargeStatusDisplayName"></span></strong> - <span data-bind="    date: backchargeDenyDate"></span>- <span data-bind="    text: backchargeDenyComments"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 alert alert-warning no-bottom-margin" data-bind="visible: isHeld">
                                            <strong><span data-bind="text: paymentStatusDisplayName"></span></strong> - <span data-bind="    date: holdDate"></span>- <span data-bind="    text: holdComments"></span>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane active" id="job_milestones">
                        @foreach (var task in Model.Tasks)
                        {
                            <div class="service-call-line col-md-12 no-padding">
                                <div class="alert alert-info no-bottom-margin"><strong>@task.Description</strong> completed by @task.EmployeeName on @Format.DateMonthDayYear(task.CompletedDate)</div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section modules
{
    <script>
        define('additionalContactsData', function() {
            return {
                additionalEmailContacts: @Html.Raw(Model.AdditionalContacts.AdditionalEmailContacts.ToJson()),
                additionalPhoneContacts: @Html.Raw(Model.AdditionalContacts.AdditionalPhoneContacts.ToJson()),
            };
        });
        
        define('modelData', function() {
            return {
                initialJobNotes: @Html.Raw(Model.JobNotes.ToJson()),
                initialJobAttachments: @Html.Raw(Model.Attachments.ToJson()),
                initialJobPayments: @Html.Raw(Model.JobPayments.ToJson()),
                attachmentRemovalMessage: '@WarrantyConstants.AttachmentRemovalMessage',
                vendors: @Html.Raw(Model.Vendors.ToJson()),
                costCodes: @Html.Raw(Model.CostCodes.ToJson())
            };
        });
    </script>
}
