@model Warranty.Core.Features.ServiceCallSummary.ServiceCallSummaryModel.NewServiceCallLineItem

<h3 >Line Items
    <span>
        <button type="button" class="btn btn-default pull-right has-bottom-tooltip" title="Add Line Item" data-toggle="collapse" data-target="#addCallLineItem"><span class="glyphicon glyphicon-plus"></span></button>
    </span>
</h3>

@Html.HiddenFor(model => model.ServiceCallId, new{id="addCallLineServiceCallId", @class="form-control"})
<div id="addCallLineItem" class="collapse">
    <div class="panel panel-default">
        <div class="panel-heading">Add Line Item</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    @Html.Label("Problem Code")
                    @Html.DropDownList("SelectProblemCode", Model.ProblemCodes, "Select Problem Code", new {id="addCallLineProblemCode", @class="form-control"} )
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    @Html.Label("Description")
                    @Html.TextArea("Description", null, new {id="addCallLineProblemDescription", @class="form-control", data_bind="value: problemDescription, valueUpdate: 'afterkeydown'"})
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-1">
                    <button class="btn btn-default" data-bind="click: addLineItem, enable: problemDescription().length > 0">Save</button>
                </div>
                <div class="col-md-1 btn">
                    <a href="#" data-toggle="collapse" data-target="#addCallLineItem">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>