@using Warranty.UI.Core.Helpers
@model IEnumerable<Warranty.Core.Features.ServiceCallSummary.ServiceCallSummaryModel.ServiceCallLine>

@foreach (var line in Model)
{
    <div class="service-call-line">
        <div class="row">
            <div class="col-md-1">
                <small class="text-muted">@Format.DateMonthDayYear(@line.CreatedDate)</small>
            </div>
            <div class="col-md-2">
                <small class="text-muted"><span class="glyphicon glyphicon-wrench"></span> @line.ProblemCode</small>
            </div>
            <div class="col-md-5 small">
                @line.ProblemDescription
            </div>
            <div class="col-md-1 small wrap-text has-bottom-tooltip" title="Root Cause">
                @line.LineItemRoot
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                
            </div>
            <div class="col-md-2">
                <small class="text-muted">@line.ClassificationNote</small>
            </div>
            <div class="col-md-6 small">
                @line.CauseDescription
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
}