@using Warranty.Core.Enumerations
@using Warranty.Core.Extensions
@using Warranty.UI.Core.Helpers
@model Warranty.Core.Features.ServiceCallSummary.ServiceCallSummaryModel

@{
    ViewBag.Title = "Service Call Summary";
}

@helper ServiceCallStatusIconHelper(DateTime? completionDate, DateTime createdDate, int daysOpenedFor, int numberOfDaysRemaining, int percentComplete)
{
    if (completionDate == null)
    {
    <div class="has-bottom-tooltip" title="@Format.DateForServiceCallWiget(createdDate)">
        <span class="glyphicon glyphicon-time text-muted"></span> @Format.ServiceCallDaysLeft(numberOfDaysRemaining)<br />
        <div class="progress time-remaining-progress hidden-sm hidden-xs">
            <div class="progress-bar @Css.ServiceCallProgressBar(numberOfDaysRemaining)" role="progressbar" style="width: @percentComplete%">
                <span class="sr-only">@percentComplete% Complete</span>
            </div>
        </div>
    </div>
    }
    else
    {
    <div class="col-md-8 pull-right">
        @Format.DaysOpenedFor(daysOpenedFor, createdDate, completionDate)
    </div>
    }
}


@helper EscalationHelper(bool escalated, DateTime? escalationDate, string escalationReason)
{
    if (escalated)
    {
    <div class='label label-danger'>
        <span class='glyphicon glyphicon-fire'></span>
        @Format.DateMonthDayYear(escalationDate) - @escalationReason
    </div>
    }
}

<div class="container">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading text-capitalize">
                <div class="row">
                    <div class="col-md-1">
                        <h3 class="panel-title">@Model.ServiceCallSummary.CallNumber</h3>
                        @Format.YearsWithinWarranty(Model.ServiceCallSummary.YearsWithinWarranty, Model.ServiceCallSummary.WarrantyStartDate)
                    </div>
                    <div class="col-md-5">
                        <h3 class="panel-title text-capitalize">@Model.ServiceCallSummary.HomeownerName</h3>
                        @Html.ActionLink(Model.ServiceCallSummary.Address, "JobSummary", "Job", new {id = Model.ServiceCallSummary.JobId}, null)
                    </div>
                    <div class="col-md-3">
                        @Format.PhoneNumber(Model.ServiceCallSummary.PhoneNumber)<br />
                        <a>@Format.Email(Model.ServiceCallSummary.EmailAddress)</a>
                    </div>
                    <div class="col-md-2">
                        @ServiceCallStatusIconHelper(Model.ServiceCallSummary.CompletionDate, Model.ServiceCallSummary.CreatedDate, Model.ServiceCallSummary.DaysOpenedFor, Model.ServiceCallSummary.NumberOfDaysRemaining, Model.ServiceCallSummary.PercentComplete)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-capitalize">
                        Employee: @Model.ServiceCallSummary.AssignedTo
                    </div>
                    <div class="col-md-3">
                        Job Number: @Model.ServiceCallSummary.JobNumber
                    </div>
                    <div class="col-md-3" id="approveCommands">
                        @if (Model.ServiceCallSummary.ServiceCallStatus == ServiceCallStatus.Requested)
                        {
                            <a href="#" data-service-call-id="@Model.ServiceCallSummary.ServiceCallId" class="approve-button"><span class="glyphicon glyphicon-thumbs-up approve-todo"></span>&nbsp;Approve</a>
                            
                            <a href="#" data-service-call-id="@Model.ServiceCallSummary.ServiceCallId" class="deny-button"><span class="glyphicon glyphicon-thumbs-down deny-todo"></span>&nbsp;Deny</a>
                        }
                        else
                        {
                            <span>Status: @Format.ServiceCallStatus(Model.ServiceCallSummary.ServiceCallStatus) </span>
                        }
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        Division: @Model.ServiceCallSummary.DivisionName
                    </div>
                    <div class="col-md-3">
                        Community: @Model.ServiceCallSummary.CommunityName
                    </div>
                    <div class="col-md-3">
                        Project: @Model.ServiceCallSummary.ProjectName
                    </div>
                    <div class="col-md-3">
                        Builder:
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        Sales:
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11"></div>
                    <div class="col-md-1 pull-right">
                        @Format.SpecialProject(Model.ServiceCallSummary.IsSpecialProject)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>
                        @EscalationHelper(Model.ServiceCallSummary.IsEscalated, Model.ServiceCallSummary.EscalationDate, Model.ServiceCallSummary.EscalationReason)
                    </h4>
                </div>
            </div>
        </div>

        <section>
            <h3 >Line Items
                <span>
                    <button type="button" class="btn btn-default pull-right has-bottom-tooltip" title="Add Line Item" data-toggle="collapse" data-target="#addCallLineItem"><span class="glyphicon glyphicon-plus"></span></button>
                </span>
            </h3>

            @Html.HiddenFor(model => model.ServiceCallSummary.ServiceCallId, new{id="addCallLineServiceCallId", @class="form-control"})
            <div id="addCallLineItem" class="collapse">
                <div class="panel panel-default">
                    <div class="panel-heading">Add Line Item</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Label("Problem Code")
                                @Html.DropDownList("SelectProblemCode", Model.AddServiceCallLineItem.ProblemCodes, "Select Problem Code", new {id="addCallLineProblemCode", @class="form-control"} )
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Label("Description")
                                @Html.TextArea("Description", null, new {id="addCallLineProblemDescription", @class="form-control", data_bind="value: problemDescription, valueUpdate: 'afterkeydown', attr:{placeholder: 'Add Description'}"})
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-1">
                                <button class="btn btn-default" data-bind="click: addLineItem, enable: problemDescription().length > 0">Save</button>
                            </div>
                            <div class="col-md-1 btn">
                                <a href="#" data-toggle="collapse" data-target="#addCallLineItem">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="remove-list-style">
                <div class="clearfix"></div>
                <ul>
                    <div data-bind="foreach: allLineItems">
                        <div id="allServiceCallLineItems" class="service-call-line">
                            <li class="row">
                                <h4><span class="text-muted small glyphicon glyphicon-wrench"></span> <small class="text-muted" data-bind="text: problemCode"></small></h4>
                                <div class="col-md-9">
                                    <p data-bind="text: problemDescription"></p>
                                </div>
                                <div class="col-md-3">
                                    <div class="pull-right" data-bind="visible: completed != true">
                                        <a href="#">Edit</a> | <a href="#">Close</a>
                                    </div>
                                </div>
                            </li>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </ul>
            </div>
        </section>
    </div>
</div>


@section modules
{
    <script>
        define('modelData', function () {
            return {
                initialServiceLines: @Html.Raw(Model.ServiceCallLines.ToJson())
            };
        });
    </script>
}