@using Warranty.UI.Core.Helpers
@model Warranty.Core.Features.ServiceCallSummary.ServiceCallSummaryModel

@{
    ViewBag.Title = "Service Call Summary";
}

<div class="container">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading text-capitalize">
                <div class="row">
                    <div class="col-md-1">
                        <h3 class="panel-title">@Model.ServiceCallSummary.CallNumber</h3>
                        @Format.YearsWithinWarranty(Model.ServiceCallSummary.YearsWithinWarranty, Model.ServiceCallSummary.WarrantyStartDate)
                    </div>
                    <div class="col-md-5">
                        <a>
                            <h3 class="panel-title text-capitalize">@Model.ServiceCallSummary.HomeownerName</h3>
                        </a>
                        @Model.ServiceCallSummary.Address
                    </div>
                    <div class="col-md-3">
                        @Format.PhoneNumber(Model.ServiceCallSummary.PhoneNumber)<br/>
                        <a>@Format.Email(Model.ServiceCallSummary.EmailAddress)</a>
                    </div>
                    <div class="col-md-2">
                        @*@Format.ServiceCallClosedDaysOpenedFor(Model.ServiceCallSummary.CompletionDate, Model.ServiceCallSummary.DaysOpenedFor, Model.ServiceCallSummary.CreatedDate)
                        
                        @Format.ServiceCallOpenDaysLeft(Model.ServiceCallSummary.CompletionDate, Model.ServiceCallSummary.NumberOfDaysRemaining, Model.ServiceCallSummary.PercentComplete,
                                                                 Model.ServiceCallSummary.CreatedDate)*@

                        @Format.ServiceCallClosedOrOpenIndicator(Model.ServiceCallSummary.CompletionDate, Model.ServiceCallSummary.NumberOfDaysRemaining, Model.ServiceCallSummary.PercentComplete,
                                                                 Model.ServiceCallSummary.DaysOpenedFor, Model.ServiceCallSummary.CreatedDate)
                    </div>
                    <div class="col-md-1 text-center">
                        <button type="button" class="btn btn-default dropdown-toggle pull-right" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Reassign", "Reassign", "ServiceCall", new {id = Model.ServiceCallSummary.ServiceCallId}, null)</li>
                            <li>@Html.ActionLink("Request Payment", "RequestPayment", "ServiceCall", new {id = Model.ServiceCallSummary.ServiceCallId}, null)</li>
                            <li>@Html.ActionLink("Add Note", "AddNote", "ServiceCall", new {id = Model.ServiceCallSummary.ServiceCallId}, null)</li>
                            <li>@Html.ActionLink("Close", "Close", "ServiceCall", new {id = Model.ServiceCallSummary.ServiceCallId}, null)</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-capitalize">
                        Employee: @Model.ServiceCallSummary.AssignedTo
                    </div>
                    <div class="col-md-3">
                        Job Number: <a>@Model.ServiceCallSummary.JobNumber</a>
                    </div>
                    <div class="col-md-3">
                        Payments:
                    </div>
                    <div class="col-md-3">
                       
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        Division: @Model.ServiceCallSummary.DivisionName
                    </div>
                    <div class="col-md-3">
                        Community: @Model.ServiceCallSummary.CommunityName
                    </div>
                    <div class="col-md-3">
                        Project: @Model.ServiceCallSummary.ProjectName
                    </div>
                    <div class="col-md-3">
                        Builder:
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        Sales:
                    </div>
                    <div class="col-md-3">
                        
                    </div>
                    <div class="col-md-3">
                        
                    </div>
                    <div class="col-md-3">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11"></div>
                    <div class="col-md-1 pull-right">
                        @Format.SpecialProject(Model.ServiceCallSummary.IsSpecialProject)
                    </div>
                </div>
            </div>
            
            <div class="panel-footer">
                <div class="panel list-group-item no-left-right-padding">
                    <a data-toggle="collapse" href="#collapseCallNotes" class="text-capitalize accordion-toggle collapsed">Notes</a> 
                    <div class="label label-default">
                        @Model.ServicCallComments.Count()
                    </div>
                    <div id="collapseCallNotes" class="collapse panel-body no-left-right-padding">
                        @foreach (var line in Model.ServicCallComments)
                        {
                            <div class="service-call-line">
                                <div class="col-md-1">
                                    <small class="pull-right text-muted">@Format.DateMonthDayYear(line.CreatedDate)</small>
                                </div>
                                <div class="col-md-10">
                                    @line.Comment
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>
                        @Format.EscalatedExpanded(Model.ServiceCallSummary.IsEscalated, Model.ServiceCallSummary.EscalationReason, Model.ServiceCallSummary.EscalationDate)
                    </h4>
                </div>
            </div>

        </div>
        
        

        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#all_service_lines" role="tab" data-toggle="tab">All <span class="label label-default">@Model.ServiceCallLines.Count()</span></a></li>
            <li><a href="#open_service_lines" role="tab" data-toggle="tab">Open <span class="label label-warning">@Model.ServiceCallLines.Count(x => !x.Completed)</span></a></li>
            <li><a href="#closed_service_lines" role="tab" data-toggle="tab">Closed <span class="label label-success">@Model.ServiceCallLines.Count(x => x.Completed)</span></a></li>
            <li class="pull-right"><span class="widget-header">Line Items 
                                       <button type="button" class="btn btn-default pull-right has-bottom-tooltip" title="Add Line Item"><span class="glyphicon glyphicon-plus small"></span></button>
                                   </span>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="all_service_lines">
                @Html.Partial("_AllServiceLines", Model)
            </div>
            <div class="tab-pane" id="open_service_lines">
                @Html.Partial("_OpenServiceLines", Model)
            </div>
            <div class="tab-pane" id="closed_service_lines">
                @Html.Partial("_ClosedServiceLines", Model)
            </div>
        </div>
    </div>

</div>
