@using Warranty.Core.Enumerations
@using Warranty.Core.Extensions
@using Warranty.UI.Core.Helpers
@model Warranty.Core.Features.ServiceCallSummary.ServiceCallSummaryModel

@{
    ViewBag.Title = "Service Call Summary";
}

@helper ServiceCallStatusIconHelper(DateTime? completionDate, DateTime createdDate, int daysOpenedFor, int numberOfDaysRemaining, int percentComplete)
{
    if (completionDate == null)
    {
    <div class="has-bottom-tooltip" title="@Format.DateForServiceCallWiget(createdDate)">
        <span class="glyphicon glyphicon-time text-muted"></span> @Format.ServiceCallDaysLeft(numberOfDaysRemaining)<br />
        <div class="progress time-remaining-progress hidden-sm hidden-xs">
            <div class="progress-bar @Css.ServiceCallProgressBar(numberOfDaysRemaining)" role="progressbar" style="width: @percentComplete%">
                <span class="sr-only">@percentComplete% Complete</span>
            </div>
        </div>
    </div>
    }
    else
    {
    <div class="float-right-non-xs-screen">
        @Format.DaysOpenedFor(daysOpenedFor, createdDate, completionDate)
    </div>
    }
}


@helper EscalationHelper(bool escalated, DateTime? escalationDate, string escalationReason)
{
    if (escalated)
    {
    <div class='label label-danger'>
        <span class='glyphicon glyphicon-fire'></span>
        @Format.DateMonthDayYear(escalationDate) - @escalationReason
    </div>
    }
}

<div class="container">
    <div class="col-md-12">
        <section>
            <h2 class="pull-left">Service Call # @Model.ServiceCallSummary.CallNumber</h2>
            @if (User.IsInRole(UserRoles.WarrantyServiceCoordinator) || User.IsInRole(UserRoles.WarrantyServiceManager))
            {
                <div class="service-call-header-buttons">
                    @Format.ServiceCallToggleButton("escalate", Model.ServiceCallSummary.IsEscalated, "Escalate", "De-escalate")                    
                    @Format.ServiceCallToggleButton("special_project", Model.ServiceCallSummary.IsSpecialProject, "Special Project", "Not Special Project")
                </div>
            }
            <div class="clearfix"></div>
        </section>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row remove-list-style">
                    <div class="col-md-3 margin-bottom-10">
                        <h3 class="panel-title text-capitalize">@Format.HomeOwner(Model.ServiceCallSummary.HomeownerName, Model.ServiceCallSummary.HomeownerNumber)</h3>
                        <ul>
                            <li class="text-capitalize">@Model.ServiceCallSummary.Address</li>
                            <li>
                                @Format.EditablePhoneNumber(PhoneNumberType.Home, Model.ServiceCallSummary.HomePhone,Url.Action("AddOrUpdatePhoneNumber","Homeowner"), Model.ServiceCallSummary.HomeownerId)
                            </li>
                            <li>
                                @Format.EditablePhoneNumber(PhoneNumberType.Mobile, Model.ServiceCallSummary.OtherPhone,Url.Action("AddOrUpdatePhoneNumber","Homeowner"),Model.ServiceCallSummary.HomeownerId)
                            </li>
                            <li>
                                @Format.EditableEmailForServiceCall(Model.ServiceCallSummary.EmailAddress, Url.Action("AddOrUpdateEmail","Homeowner"), Model.ServiceCallSummary.HomeownerId, Model.ServiceCallSummary.CallNumber)
                            </li>
                        </ul>
                        <span>@Format.YearsWithinWarranty(Model.ServiceCallSummary.YearsWithinWarranty, Model.ServiceCallSummary.WarrantyStartDate)</span>
                    </div>
                    <div class="col-md-3">
                        <ul class="border-bottom-1-solid">
                            <li class="clearfix"><span class="pull-left">Created By:</span><span class="pull-right">@Model.ServiceCallSummary.CreatedBy</span></li>
                            <li class="clearfix"><span class="pull-left">Created On:</span><span class="pull-right">@Format.DateMonthDayYear(Model.ServiceCallSummary.CreatedDate)</span></li>
                            <li class="clearfix">
                                <span class="pull-left">Assignee:</span>
                                    @if (Model.CanReassign)
                                    {
                                        <div class="inline-reassign-dropdown pull-right text-capitalize">
                                            <a href="#" id="Employee_List" data-source="@Url.Action("GetEmployees", "ServiceCall", new { id = Model.ServiceCallSummary.ServiceCallId })" data-url="@Url.Action("InlineReassign", "ServiceCall")" data-pk="@Model.ServiceCallSummary.ServiceCallId" data-value="@Model.ServiceCallSummary.AssignedToEmployeeNumber">@Model.ServiceCallSummary.AssignedTo</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <span class="pull-right">@Model.ServiceCallSummary.AssignedTo</span>
                                    }
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="border-bottom-1-solid">
                            <li class="clearfix"><span class="pull-left">Job Number:</span>
                                <span class="pull-right">@Html.ActionLink(Model.ServiceCallSummary.JobNumber, "JobSummary", "Job", new { id = Model.ServiceCallSummary.JobId }, null)</span></li>
                            <li class="clearfix"><span class="pull-left">Payments:</span><span class="pull-right">&nbsp;</span></li>
                            <li class="clearfix"><span class="pull-left">Division:</span><span class="pull-right">@Model.ServiceCallSummary.DivisionName</span></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <div class="float-right-non-xs-screen">
                            <div id="approveCommands" class="margin-bottom-10">
                                @if (Model.ServiceCallSummary.ServiceCallStatus == ServiceCallStatus.Requested && Model.CanApprove)
                                {
                                    <a href="#" data-service-call-id="@Model.ServiceCallSummary.ServiceCallId" class="approve-button"><span class="glyphicon glyphicon-thumbs-up approve-todo"></span>&nbsp;Approve</a>
                                    <a href="#" data-service-call-id="@Model.ServiceCallSummary.ServiceCallId" class="deny-button"><span class="glyphicon glyphicon-thumbs-down deny-todo"></span>&nbsp;Deny</a>
                                }
                                else
                                {
                                    <span>Status: @Format.ServiceCallStatus(Model.ServiceCallSummary.ServiceCallStatus) </span>
                                }
                            </div>
                            @ServiceCallStatusIconHelper(Model.ServiceCallSummary.CompletionDate, Model.ServiceCallSummary.CreatedDate, Model.ServiceCallSummary.DaysOpenedFor, Model.ServiceCallSummary.NumberOfDaysRemaining, Model.ServiceCallSummary.PercentComplete)
                        </div>
                    </div>
                </div>
                @*<div class="panel-body">
                <div class="row">
                    <div class="col-md-11"></div>
                    <div class="col-md-1 pull-right">
                        @Format.SpecialProject(Model.ServiceCallSummary.IsSpecialProject)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>
                        @EscalationHelper(Model.ServiceCallSummary.IsEscalated, Model.ServiceCallSummary.EscalationDate, Model.ServiceCallSummary.EscalationReason)
                    </h4>
                </div>
            </div>*@
            </div>
            <section>
                <h3 class="col-md-12">Line Items
                <span>
                    <button type="button" class="btn btn-default pull-right has-bottom-tooltip" title="Add Line Item" data-toggle="collapse" data-target="#addCallLineItem"><span class="glyphicon glyphicon-plus"></span></button>
                </span>
                </h3>
                @Html.HiddenFor(model => model.ServiceCallSummary.ServiceCallId, new { id = "addCallLineServiceCallId", @class = "form-control" })
                <div id="addCallLineItem" class="collapse">
                    <div class="panel panel-default">
                        <div class="panel-heading">Add Line Item</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.Label("Problem Code")
                                    @Html.DropDownList("SelectProblemCode", Model.AddServiceCallLineItem.ProblemCodes, "Select Problem Code", new { id = "addCallLineProblemCode", @class = "form-control", data_bind="value: problemCodeToAdd" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.Label("Description")
                                    @Html.TextArea("Description", null, new {id="addCallLineProblemDescription", @class="form-control", data_bind="value: problemDescriptionToAdd, valueUpdate: 'afterkeydown', attr:{placeholder: 'Add Description'}"})
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-1">
                                    <button class="btn btn-primary" data-bind="click: addLineItem, enable: problemDescriptionToAdd().length > 0">Add</button>
                                </div>
                                <div class="col-md-1 btn">
                                    <a href="#" data-toggle="collapse" data-target="#addCallLineItem">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="remove-list-style">
                    <div class="clearfix"></div>
                    <ul>
                        <div data-bind="foreach: allLineItems">
                            <div id="allServiceCallLineItems" class="service-call-line edit-line-item">
                                    <li class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <div class="no-left-right-padding">
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                                <div class="editor" data-bind="css: { editing: problemCodeEditing }"> 
                                                                    <h4>
                                                                        <select class="edit dropdown form-control" data-bind="options: $parent.theLookups, value: problemCode, optionsText: 'problemCode', optionsValue: 'problemCode', optionsCaption: 'Select Problem Code' "></select>
                                                                        <small class="text-muted view" data-bind="text: problemCode"></small>
                                                                        <span class="text-muted view" data-bind="text: serviceCallLineItemStatusDisplayName() ? serviceCallLineItemStatusDisplayName() : '', css: lineItemStatusCSS"></span>
                                                                    </h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="editor" data-bind="css: { editing: problemDescriptionEditing }"> 
                                                                    <p class="view" data-bind="text: problemDescription"></p>
                                                                    <textarea id="updateCallLineProblemDescription" class="edit small form-control" type="text" data-bind="value: problemDescription"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4 col-xs-12 no-left-right-padding top-buffer bottom-buffer">
                                                                <div class="editor" data-bind="css: { editing: lineEditing }">
                                                                    <div class="col-md-3 col-xs-4">
                                                                        <button type="submit" class="btn btn-primary btn-sm edit" data-bind="click: saveLineItemChanges">Save</button>
                                                                    </div>
                                                                    <div class="col-md-3 col-xs-4">
                                                                        <button type="button" class="btn btn-default btn-sm edit" data-bind="click: cancelLineItemChanges">Cancel</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 margin-top-13 margin-bottom-3 text-align-right no-right-padding">
                                                    <button id="btn-edit-line-item" type="button" class="btn btn-default btn-sm btn-hover-show margin-right-10" data-bind="click: editLine, visible: lineEditing() == false">Edit</button>
                                                     @*<button id="btn-complete-line-item" type="button" class="btn btn-default btn-sm btn-hover-show" data-bind="click: completeLine, visible: lineEditing() == false">Complete</button>*@
                                                </div>
                                            </div>
                                        </div>
                                </li>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </ul>
                </div>
            </section>
            
            <section >
                <h3 class="col-md-12">Notes
                    <span>
                        <button type="button" class="btn btn-default pull-right has-bottom-tooltip" title="Add Note" data-toggle="collapse" data-target="#addCallNote"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                </h3>
                <div id="addCallNote" class="collapse">
                    <div class="panel panel-default no-bottom-margin">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.TextArea("Description", null, new {id="addCallNoteDescription", @class="form-control", data_bind="text: noteDescriptionToAdd, value: noteDescriptionToAdd, valueUpdate: 'afterkeydown', attr:{placeholder: 'Add Notes'}", @rows=3})
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.Label("Reference line item (optional)")
                                    <select id="addCallNoteLineReferenceDropDown" class="dropdown form-control" data-bind="options: allLineItems, value: selectedLineToAttachToNote, optionsText: 'lineNumberWithProblemCode', optionsValue: 'serviceCallLineItemId', optionsCaption: 'Select Line Number' "></select>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-1">
                                    <button class="btn btn-primary" data-bind="click: addCallNote, enable: noteDescriptionToAdd().length > 0">Add</button>
                                </div>
                                <div class="col-md-1 btn">
                                    <a href="#" data-toggle="collapse" data-target="#addCallNote" data-bind="click: cancelCallNote">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <em data-bind="visible: allCallNotes().length < 1" class="padding-left-15 padding-top-7 pull-left">No Notes Available</em>
                <span data-bind="visible: allCallNotes().length > 1" class="padding-left-15 padding-top-7 pull-left">
                    Show: 
                </span>
                <div class="col-md-3 margin-bottom-10">
                    <select id="filterCallNoteLineReferenceDropDown" class="dropdown form-control" data-bind="options: allLineItems, value: selectedLineToFilterNotes, optionsText: 'lineNumberWithProblemCode', optionsValue: 'serviceCallLineItemId', optionsCaption: 'All', visible: allCallNotes().length > 0 "></select>
                </div>
                @*<div class="col-md-1">
                    <button class="btn btn-default" data-bind="click: resetCallNoteFilter">Reset Filter</button>
                </div>*@
                <div class="remove-list-style">
                    <div class="clearfix"></div>
                    <br/>
                    <ul>
                        <div data-bind="foreach: filteredCallNotes">
                            <div id="allServiceCallNotes" class="service-call-line edit-line-item">
                                <li class="row">
                                    <div class="col-md-12">
                                        <div class="no-left-right-padding">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <span data-bind="text: createdBy"></span>
                                                    <span data-bind="text: moment(createdDate).format('L')"></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p data-bind="text: note"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>
@if (User.IsInRole(UserRoles.WarrantyServiceCoordinator) || User.IsInRole(UserRoles.WarrantyServiceManager))
{
    @Format.ActionwithPopup("special_project", @Url.Action("ToggleSpecialProject", "ServiceCall"), Model.ServiceCallSummary.ServiceCallId)
    @Format.ActionwithPopup("escalate", @Url.Action("ToggleEscalate", "ServiceCall"), Model.ServiceCallSummary.ServiceCallId)
}

@section modules
{
    <script>
        define('modelData', function() {
            return {
                initialServiceLines: @Html.Raw(Model.ServiceCallLines.ToJson()),
                initialServiceNotes: @Html.Raw(Model.ServicCallNotes.ToJson())
            }
        });

        define('dropdownData', function() {
            return {
                availableLookups: @Html.Raw(Model.AddServiceCallLineItem.ProblemCodes.Select(x => new {problemId = x.Value, problemCode = x.Text}).ToJson())
            }
        });
    </script>
    }
