@using Warranty.UI.Core.Helpers
@model Warranty.Core.Features.CreateServiceCall.CreateServiceCallModel

<div class="container">
    <h2>Create Service Call Request</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(model => model.JobId)
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-5">
                                @Format.HomeOwner(Model.HomeOwnerName, Model.HomeOwnerNumber)
                                @Format.YearsWithinWarranty(Model.YearsWithinWarranty, Model.WarrantyStartDate)
                                <br/>
                                @Html.DisplayFor(x => x.Address1)
                                <br/>
                                @Format.CityStateZip(Model.City, Model.StateCode, Model.PostalCode)
                            </div>
                            <div class="col-md-4">
                                @Format.CellNumber(Model.OtherPhone)
                                <br/>
                                @Format.HomeNumber(Model.HomePhone)
                                <br/>
                                <a>@Format.Email(Model.EmailAddress)</a>
                            </div>
                            <div class="col-md-3">
                                Job Number: @Html.DisplayFor(x => x.JobNumber)
                                <br/>
                                Builder: @Html.DisplayFor(x => x.BuilderName)
                                <br/>
                                Sales: @Html.DisplayFor(x => x.SalesPersonName)
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="row col-md-4">
                                            @Html.Label("Problem Code")<br/>
                                            @Html.ProblemCodeDropdown(null)<br/>
                                        </div>
                                        <div class="row col-md-10">
                                            @Html.Label("Description")
                                            @Html.TextArea("Description", null, new {id = "problemDescription", @class = "form-control",  data_bind="text: problemDescriptionToAdd, value: problemDescriptionToAdd, valueUpdate: 'afterkeydown', attr:{placeholder: 'Add Description'}"})
                                            <br/>
                                            <button class="btn btn-default" data-bind="click: addLineItem, enable: problemDescriptionToAdd().length > 0">Add Item</button>
                                        </div>
                                        <div class="clearfix"></div>
                                        <br/>
                                        <div data-bind="visible: lineItems().length > 0">
                                            <h3>Line Items <small class="label label-default" data-bind="text: lineItems().length"></small></h3>
                                            <div id="add_service_call_lines">
                                                <div data-bind="foreach: lineItems">
                                                    <div class="service-call-line">
                                                        <input type="hidden" data-bind="value: $index() + 1, attr: { name: 'ServiceCallLineItems[' + $index() + '].LineItemNumber' }" />
                                                        <input type="hidden" data-bind="value: problemCodeId, attr: { name: 'ServiceCallLineItems[' + $index() + '].ProblemCodeId' }" />
                                                        <input type="hidden" data-bind="value: problemCode, attr: { name: 'ServiceCallLineItems[' + $index() + '].ProblemCodeDisplayName' }" />
                                                        <input type="hidden" data-bind="value: problemDescription, attr: { name: 'ServiceCallLineItems[' + $index() + '].ProblemDescription' }" />
                                                        <h4 data-bind="text: problemCode"></h4>
                                                        <span data-bind="text: problemDescription"></span>
                                                        <button data-bind="click: $root.removeLineItem" class="btn btn-default btn-xs pull-right">Delete</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3" data-bind="visible: relatedCalls().length > 0">
                                        @Html.Label("Related Calls")
                                        <div class="well well-sm">
                                        <div data-bind="foreach: relatedCalls">
                                            <a data-bind="attr: {href: callSummaryUrl}"><span data-bind="text: callNumber"></span></a><br />
                                            <span data-bind="text: problemDescription"></span><br />
                                            <small class="text-muted">Date Created: <span data-bind="text: moment(createdDate).format('LL')"></span></small>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <div class="row">
                            <div class="col-md-12" data-bind="visible: lineItems().length > 0">
                                <input type="submit" value="Submit" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
