@using Warranty.Core.Configurations
@using Warranty.Core.Extensions
@using Warranty.Core.Enumerations
@model Warranty.Core.Features.AddServiceCallPurchaseOrder.AddServiceCallPurchaseOrderModel

<div style="display: none;" data-bind="visible: true">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section class="margin-bottom-10">
                    <h2 class="no-margin">
                        Create PO
                    </h2>
                </section>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row margin-bottom-10">
                            <div class="col-md-6">
                                <div class="control-group" data-bind="validationElement: vendorNumber, validationOptions: { insertMessages: false}">
                                    <label class="control-label" for="vendor-search">Vendor</label>
                                    <input type="text" id="vendor-search" data-city-code="@Model.CityCode" class="form-control" autocomplete="off" placeholder="Type vendor name or vendor number" />
                                    <span data-bind="validationMessage: vendorNumber" class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="control-group padding-top-31" data-bind="validationElement: isMaterialObjectAccount, validationOptions: { insertMessages: false}">
                                    <label class="radio-inline">
                                        <input type="radio" id="materialAccount" name="isMaterialObjectAccount" data-bind="checked: isMaterialObjectAccount" value="true"> Material
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="laborAccount" name="isMaterialObjectAccount" data-bind="checked: isMaterialObjectAccount" value="false"> Labor
                                    </label>
                                    <span data-bind="validationMessage: isMaterialObjectAccount" class="help-block padding-top-7"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Ship To</label>
                                <div class="small">
                                    <a class="" data-bind="text: 'Job #' + jobNumber()" href="@Url.Action("JobSummary", "Job", new {id = Model.JobId})"></a>
                                    <br />
                                    <span data-bind="text: address"></span>
                                    <br />
                                    <span data-bind="text: city() + ', ' + stateCode() + ' ' + postalCode()"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-md-6">
                                <div class="control-group" data-bind="validationElement: selectedDeliveryInstruction">
                                    <label class="control-label" for="selectedDeliveryInstruction">Delivery Instructions</label>
                                    <select id="selectedDeliveryInstruction" class="form-control" data-bind="options: deliveryInstructionCodes, optionsText: 'displayText', optionsValue: 'value', value: selectedDeliveryInstruction, optionsCaption: 'Select Delivery Instruction'"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="control-group" data-bind="validationElement: deliveryDate, validationOptions: { insertMessages: false}">
                                    <label class="control-label" for="deliveryDate">Delivery Date</label>
                                    <div class="input-group datepicer-icon">
                                        <span class="input-group-addon btn">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        <input id="deliveryDate" type="text" data-bind="value: deliveryDate" class="form-control datepicker" placeholder="Select Date" />
                                    </div> 
                                    <span data-bind="validationMessage: deliveryDate" class="help-block"></span> 
                                </div>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Items</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><label>Quantity</label></div>
                            <div class="col-md-7"><label>Description</label></div>
                            <div class="col-md-2"><label>Unit Cost</label></div>
                            <div class="col-md-1"><label class="text-right pull-right">Subtotal</label></div>
                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-md-2">
                                <div class="control-group" data-bind="validationElement: line1.quantity">
                                    <input id="line1.quantity" type="text" class="form-control numeric" data-bind="value: line1.quantity, valueUpdate: 'blur'" />
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="control-group" data-bind="validationElement: line1.description">
                                    <input id="line1.description" type="text" class="form-control max-length" data-bind="attr:{maxlength: line1.maxPurchaseOrderLineItemDescriptionLength}, value: line1.description" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-group" data-bind="validationElement: line1.unitCost">
                                    <input type="text" class="form-control numeric" data-bind="value: line1.unitCost, valueUpdate: 'blur'" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <p class="text-right" data-bind="currency: line1.subTotal"></p>
                            </div>
                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-md-2">
                                <div class="control-group" data-bind="validationElement: line2.quantity">
                                    <input type="text" class="form-control numeric" data-bind="value: line2.quantity, valueUpdate: 'blur'" />
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="control-group" data-bind="validationElement: line2.description">
                                    <input type="text" class="form-control max-length" data-bind="attr:{maxlength: line2.maxPurchaseOrderLineItemDescriptionLength}, value: line2.description" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-group" data-bind="validationElement: line2.unitCost">
                                    <input type="text" class="form-control numeric" data-bind="value: line2.unitCost, valueUpdate: 'blur'" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <p class="text-right" data-bind="currency: line2.subTotal"></p>
                            </div>
                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-md-2">
                                <div class="control-group" data-bind="validationElement: line3.quantity">
                                    <input type="text" class="form-control numeric" data-bind="value: line3.quantity, valueUpdate: 'blur'" />
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="control-group" data-bind="validationElement: line3.description">
                                    <input type="text" class="form-control max-length" data-bind="attr:{maxlength: line3.maxPurchaseOrderLineItemDescriptionLength}, value: line3.description" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-group" data-bind="validationElement: line3.unitCost">
                                    <input type="text" class="form-control numeric" data-bind="value: line3.unitCost, valueUpdate: 'blur'" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <p class="text-right" data-bind="currency: line3.subTotal"></p>
                            </div>
                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-md-2">
                                <div class="control-group" data-bind="validationElement: line4.quantity">
                                    <input type="text" class="form-control numeric" data-bind="value: line4.quantity, valueUpdate: 'blur'" />
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="control-group" data-bind="validationElement: line4.description">
                                    <input type="text" class="form-control max-length" data-bind="attr:{maxlength: line4.maxPurchaseOrderLineItemDescriptionLength}, value: line4.description" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-group" data-bind="validationElement: line4.unitCost">
                                    <input type="text" class="form-control numeric" data-bind="value: line4.unitCost, valueUpdate: 'blur'" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <p class="text-right" data-bind="currency: line4.subTotal"></p>
                            </div>
                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-md-2">
                                <div class="control-group" data-bind="validationElement: line5.quantity">
                                    <input type="text" class="form-control numeric" data-bind="value: line5.quantity, valueUpdate: 'blur'" />
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="control-group" data-bind="validationElement: line5.description">
                                    <input type="text" class="form-control max-length" data-bind="attr:{maxlength: line5.maxPurchaseOrderLineItemDescriptionLength}, value: line5.description" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-group" data-bind="validationElement: line5.unitCost">
                                    <input type="text" class="form-control numeric" data-bind="value: line5.unitCost, valueUpdate: 'blur'" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <p class="text-right" data-bind="currency: line5.subTotal"></p>
                            </div>
                        </div>

                        <!-- ko foreach: allPurchaseOrderLines -->
                        <div class="row margin-bottom-10">
                            <div class="col-md-2">
                                <div class="control-group" data-bind="validationElement: quantity">
                                    <input type="text" class="form-control" data-bind="value: quantity, attr: {id: 'quantity_' + lineNumber()}, valueUpdate: 'blur'" />
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="control-group" data-bind="validationElement: description">
                                    <input id="description" type="text" class="form-control max-length" data-bind="attr:{maxlength: maxPurchaseOrderLineItemDescriptionLength}, value: description" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-group" data-bind="validationElement: unitCost">
                                    <input id="unitCost" type="text" class="form-control" data-bind="value: unitCost, attr: {id: 'unitCost_' + lineNumber()}, valueUpdate: 'blur'" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <p class="text-right" data-bind="currency: subTotal"></p>
                            </div>
                            <span class="hidden" data-bind="value: lineNumber($index() + 6)"></span>
                        </div>
                        <!-- /ko -->

                        <div class="row margin-bottom-10">
                            <div class="col-md-9">
                                <a href="#" data-bind="click: $root.addPurchaseOrderLine">+ Add a new line</a>
                            </div>

                            <div class="col-md-3">
                                <div class="control-group" data-bind="validationElement: totalCost">
                                    <label class="control-label" for="totalCost">Total</label>
                                    <label id="totalCost" class="pull-right" data-bind="currency: totalCost"></label>
                                    <br />
                                    <span class="pull-right help-block" data-bind="validationMessage: totalCost"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-10">
                            <div class="col-md-12">
                                <div class="form-group" data-bind="validationElement: notes">
                                    <label class="control-label" for="notes">Notes</label>
                                    <textarea id="notes" class="form-control max-length" data-bind="attr:{maxlength: maxPurchaseOrderNotesLength}, value: notes" rows="2"></textarea>
                                </div>
                            </div>
                        </div>

                        <span class="has-bottom-tooltip span-align" data-original-title="At least one line item must be entered in order to submit PO">
                            <input type="submit" class="btn btn-info" data-bind="click: submitPurchaseOrder, enable : canSave" value="Submit"/>
                        </span>
                        <a href="@Url.Action("LineItemDetail", "ServiceCall", new { id = Model.ServiceCallLineItemId })" class="btn btn-link">Cancel</a>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section modules
{
    <script>
        define('modelData', function() {
            return {
                initialPurchaseOrder: @Html.Raw(Model.ToJson()),
                deliveryInstructionCodes: @Html.Raw(@DeliveryInstruction.GetAll().OrderBy(x => x.DisplayName).Select(x => new {DisplayText = x.DisplayName, Value = x.Value}).ToJson()),
                maxPurchaseOrderLineItemDescriptionLength: @Html.Raw(@WarrantyConstants.DefaultJdePurchaseOrderLineItemDescriptionLength),
                maxPurchaseOrderNotesLength: @Html.Raw(@WarrantyConstants.DefaultJdePurchaseOrderNotesLength),
            };
        });

        define('dropdownData', function() {

        });
    </script>
}