@using Warranty.Core.Configurations
@using Warranty.Core.Enumerations
@using Warranty.Core.Extensions
@using Warranty.UI.Core.Helpers
@model Warranty.Core.Features.ServiceCallSummary.ServiceCallLineItem.ServiceCallLineItemModel

@{
    ViewBag.Title = "Service Call Line Detail";
}

<div style="display: none;" data-bind="visible: true">
    <div class="container">
        <div class="col-md-12">
            @Html.HiddenFor(model => model.ServiceCallLineItemStatus, new { id = "lineItemStatus" })

            <section class="margin-bottom-10">
                <h2 class="no-margin">
                    <a class="bread-crumb" href="@Url.Action("CallSummary", "ServiceCall", new { id = Model.ServiceCallId })">@Model.ServiceCallTitle</a>
                    @Model.LineNumber - <span data-bind="text: problemCode"></span>
                    <div class="pull-right no-right-padding no-print">
                        @if (User.IsInRole(UserRoles.WarrantyAdmin))
                        {
                            <button id="btn_line_Item_Delete" type="button" class="btn btn-default btn-hover-show has-bottom-tooltip" data-bind="click: deleteLineItem, enable: !hasPOPaymentsAttachNotes() ">Delete</button>
                        }
                        <button id="btn-no-action-line-item" type="button" class="btn btn-default btn-hover-show" data-bind="click: noActionForLine, visible: !hasEverBeenCompleted() && !isLineItemCompleted() && !isLineItemNoAction()">No Action</button>
                        <button id="btn-complete-line-item" type="button" class="btn btn-default btn-hover-show" data-bind="click: completeLine, visible: !isLineItemCompleted() && !isLineItemNoAction()">Complete</button>
                        @if (User.IsInRole(UserRoles.WarrantyServiceCoordinator) || User.IsInRole(UserRoles.CustomerCareManager))
                        {
                            <button id="btn-reopen-line-item" type="button" class="btn btn-default btn-hover-show" data-bind="click: reopenLine, visible: isLineItemCompleted()">Reopen</button>
                        }
                    </div>
                </h2>
                <div class="clearfix"></div>
            </section>
            <div id="serviceCallLineItemDetailPage">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title text-capitalize margin-bottom-10 main-info">
                            <strong>Status: </strong><span class="text-muted view" data-bind="text: serviceCallLineItemStatusDisplayName() ? serviceCallLineItemStatusDisplayName() : '', css: lineItemStatusCSS"></span>
                            <span>
                                <button type="button" class="btn btn-default pull-right no-print hidden-sm hidden-xs" data-bind="click: enableRecode, visible: canRecodeImportedData()" title="Re-Code is only used on jobs imported from Lotus Notes">Re-Code</button>
                            </span>
                        </p>
                        <p class="view margin-bottom-20" data-bind="text: problemDescription"></p>
                        <p></p>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="control-group" data-bind="validationElement: rootProblemId, visible: !isLineItemCompleted() || recodeEnabled()">
                                    <label class="control-label" for="rootProblemId">Root Problem</label>
                                    <select id="rootProblemId" class="form-control" data-bind="options: rootProblemCodes, value: rootProblemId, optionsText: 'text', optionsValue: 'value', optionsCaption: 'Select Root Problem', enable: enableRootProblem()"></select>
                                </div>
                                <div class="form-group no-margin" data-bind="visible: isLineItemCompleted() && !recodeEnabled()">
                                    <label class="control-label">Root Problem</label>
                                    <p class="form-control-static" data-bind="text: rootProblem"></p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="control-group" data-bind="validationElement: rootCauseId, visible: !isLineItemCompleted() || recodeEnabled()">
                                    <label class="control-label" for="rootCauseId">Root Cause</label>
                                    <select id="rootCauseId" class="form-control" data-bind="options: rootCauseCodes, value: rootCauseId, optionsText: 'text', optionsValue: 'value', optionsCaption: 'Select Root Cause', enable: enableRootCause()"></select>
                                </div>
                                <div class="form-group no-margin" data-bind="visible: isLineItemCompleted() && !recodeEnabled()">
                                    <label class="control-label">Root Cause</label>
                                    <p class="form-control-static" data-bind="text: rootCause"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <section>
                        <h3 class="col-md-12">Vendors</h3>
                        <p class="padding-left-15" data-bind="visible: constructionVendors.length < 1"><em>No Vendors Found</em></p>
                        <div class="col-md-12">
                            <!-- ko foreach: groupedConstructionVendors-->
                            <div class="row" data-bind="foreach: $data">
                                <div class="col-md-4">
                                    <div class="panel panel-default margin-bottom-15">
                                        <div class="panel-heading"><div class="panel-title"><span class="panel-title text-capitalize" data-bind="text: name + ' (' + number + ')'"></span></div></div>
                                        <div class="panel-body">
                                            <strong>Work Performed</strong>
                                            <p>
                                                <small><span data-bind="text: costCodesSeparatedByComma"></span></small>
                                            </p>
                                            <!-- ko if: contactInfo.length > 0 -->
                                            <strong>Contact Information</strong>
                                            <p data-bind="foreach: contactInfo">
                                                <!-- ko if: type != 'E-mail'-->
                                                <small><span data-bind="text: value"></span> <span data-bind="    text: type!=''?'(' + type + ')': ''"></span></small><br/>
                                                <!-- /ko -->
                                                <!-- ko if: type === 'E-mail'-->
                                                <small><a data-bind="text: value, attr: { href: 'mailto:'+value} "></a></small><br/><!-- /ko -->                            
                                            </p>
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                        <div class="clearfix"></div>
                    </section>
                    <section>
                        <h3 class="col-md-12">POs
                            <span>
                                <button type="button" class="btn btn-default pull-right no-print hidden-sm hidden-xs" data-bind="click: createPurchaseOrder">Create PO</button>
                            </span>
                        </h3>
                        <p data-bind="validationMessage: createPurchaseOrderClicked" class="pull-right alert alert-warning enable-button-warning hidden-sm hidden-xs"></p>
                        <div class="clearfix"></div>
                        <p class="padding-left-15" data-bind="visible: allPurchaseOrders().length < 1" ><em>No Purchase Orders Available</em></p>
                        <!-- ko foreach: allPurchaseOrders -->
                        <div class="row service-call-line">
                            <div class="col-md-4">
                                <strong><span data-bind="text: vendorName"></span></strong>
                                <br/>
                                <span data-bind="text: purchaseOrderStatusDisplayName, css: 'label label-' + purchaseOrderStatusBadgeClassName()"></span>
                            </div>
                            <div class="col-md-3">
                                <b data-bind="text: costCode.costCode + '-' + costCode.displayName"></b>
                                <br/>
                                <span data-bind="text: purchaseOrderNumber ? 'PO #:' + purchaseOrderNumber : 'PO #:'"></span>
                                <br/>
                                <span data-bind="text: 'Date:' + createdDate"></span><br/>
                            </div>
                            <div class="col-md-1">
                                <h4 data-bind="currency: totalCost"></h4>
                            </div>
                        </div>
                        <!-- /ko -->
                        <div class="clearfix"></div>
                    </section>
                    <section>
                        <h3 class="col-md-12">Payments & Backcharges
                            <span>
                                <button type="button" class="btn btn-default pull-right has-bottom-tooltip no-print" title="Add Payments" data-toggle="collapse" data-target="#addPayment" data-bind="visible: hasRootProblem()"><span class="glyphicon glyphicon-plus"></span></button>
                                <button type="button" class="btn btn-default pull-right has-bottom-tooltip no-print" title="Add Payments" data-bind="visible: !hasRootProblem(), click: expandPayment"><span class="glyphicon glyphicon-plus"></span></button>
                            </span>
                        </h3>
                        <p data-bind="validationMessage: expandPaymentClicked" class="pull-right alert alert-warning enable-button-warning"></p>
                        <div class="clearfix"></div>

                        <div id="addPayment" class="collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="control-group col-md-3 margin-bottom-10">
                                        <label class="control-label" for="paymentType">Type</label>
                                        <select id="paymentType" class="form-control" data-bind="options: paymentTypes, value: paymentTypeId, optionsText: 'text', optionsValue: 'value', optionsCaption: 'Select Type'"></select>
                                    </div>
                                </div>
                                <div data-bind="visible: isPayment()">
                                    <div class="row" >
                                        <div class="form-group col-md-3" data-bind="validationElement: vendorNumber, validationOptions: { insertMessages: false}">
                                            @Html.Label("Vendor", new { @class = "control-label", @for = "vendor-search" })
                                            <input type="text" id="vendor-search" class="form-control" data-bind="disable: payHomeownerSelected" autocomplete="off" data-city-code="@Model.CityCode" data-ip-code="" placeholder="Type vendor name or vendor number" />
                                            <span data-bind="validationMessage: vendorNumber" class="help-block"></span>
                                            @if (User.IsInRole(UserRoles.CreateHomeownerPayment))
                                            {
                                                <span class="has-bottom-tooltip" data-bind="attr: { 'data-original-title': cannotPayHomeownerHelpText }, css: { 'text-muted': cannotPayHomeowner }" >
                                                    <label data-bind="css: { 'cursor-pointer': canPayHomeowner }"><input type="checkbox" id="homeowner-as-vendor" data-bind="enable: canPayHomeowner, checked: payHomeownerSelected" /> Pay Homeowner</label>
                                                </span>
                                            }
                                        </div>
                                        <div class="form-group col-md-3" data-bind="validationElement: invoiceNumber">
                                            @Html.Label("Invoice #", new { @class = "control-label", @for = "invoiceNumber" })
                                           
                                            <label class="control-label" for="invoiceNumber"></label>
                                            <input type="text" id="invoiceNumber" class="form-control max-length" maxlength="@WarrantyConstants.maxInvoiceNumberLength" data-bind="value: invoiceNumber" />
                                            
                                        </div>
                                        <div class="form-group col-md-3" data-bind="validationElement: amount, validationOptions: { insertMessages: false}">
                                            @Html.Label("Amount", new { @class = "control-label", @for = "amount" })
                                            <div class="input-group">
                                                <span class="input-group-addon">$</span>
                                                <input type="text" class="form-control numeric" data-bind="value: amount, valueUpdate: 'blur'" id="amount" />
                                            </div>
                                            <span data-bind="validationMessage: amount" class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="row" data-bind="visible: payHomeownerSelected">
                                        <div class="form-group col-md-3" data-bind="validationElement: projectCoordinatorEmail">
                                            @Html.Label("Project Coordinator Name", new { @class = "control-label", @for = "projectCoordinatorName" })
                                            <input type="text" id="pc-search" class="form-control" autocomplete="off" placeholder="Type Project Coordinator name"/>
                                            <span data-bind="validationMessage: projectCoordinatorEmail" class="help-block"></span>
                                            <label><input type="checkbox" id="send-check-to-pc" data-bind="checked: sendCheckToPC"/> Send check to PC</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            @Html.Label("Comments", new { @class = "control-label" })
                                            <textarea class="form-control" maxlength="255" data-bind="value: comments"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-2 margin-top-10">
                                            <div class="checkbox-inline">
                                                <label class="cursor-pointer">
                                                    <input type="checkbox" data-bind="checked: isBackcharge" />
                                                    Backcharge</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div data-bind="visible: isBackcharge() || isStandAloneBackcharge()">
                                    <div class="row">
                                        <div class="form-group col-md-4" data-bind="validationElement: backchargeVendorNumber, validationOptions: { insertMessages: false}">
                                            @Html.Label("Backcharge vendor", new { @class = "control-label", @for = "backcharge-vendor-search" })
                                            <input type="text" id="backcharge-vendor-search" class="form-control" autocomplete="off" data-city-code="@Model.CityCode" placeholder="Type vendor name or vendor number" data-vendor-number="0" />
                                            <span data-bind="validationMessage: backchargeVendorNumber" class="help-block"></span>
                                        </div>

                                        <div class="form-group col-md-3" data-bind="validationElement: backchargeAmount, validationOptions: { insertMessages: false}">
                                            @Html.Label("Backcharge amount", new { @class = "control-label", @for = "backchargeAmount" })
                                            <div class="input-group">
                                                <span class="input-group-addon">$</span>
                                                <input type="text" class="form-control numeric" data-bind="value: backchargeAmount, valueUpdate: 'blur'" id="backchargeAmount" />
                                            </div>
                                            <span data-bind="validationMessage: backchargeAmount" class="help-block"></span>
                                        </div>

                                        <div class="form-group col-md-12" data-bind="validationElement: backchargeReason">
                                            @Html.Label("Reason for backcharge", new { @class = "control-label", @for = "backchargeReason" })
                                            <textarea class="form-control" maxlength="255" data-bind="value: backchargeReason" id="backchargeReason"></textarea>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4" data-bind="validationElement: personNotified">
                                            @Html.Label("Person notified", new { @class = "control-label", @for = "personNotified" })
                                           
                                            <label class="control-label" for="personNotified"></label>
                                            <input type="text" id="personNotified" class="form-control max-length" maxlength="@WarrantyConstants.maxPersonNotifiedLength" data-bind="value: personNotified"  />
                                            
                                        </div>
                                        <div class="form-group col-md-4" data-bind="validationElement: personNotifiedPhoneNumber">
                                            @Html.Label("Phone number", new { @class = "control-label", @for = "personNotifiedPhoneNumber" })
                                            <input type="text" class="form-control phone-number-with-extension" data-bind="value: personNotifiedPhoneNumber" id="personNotifiedPhoneNumber" />
                                        </div>
                                        <div class="form-group col-md-4" data-bind="validationElement: personNotifiedDate,  validationOptions: { insertMessages: false}">
                                            @Html.Label("Date notified", new { @class = "control-label", @for = "Person_Notified_Date" })
                                            <div class="input-group datepicer-icon" >                                               
                                                <span class="input-group-addon btn">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>                                                 
                                                <input id="Person_Notified_Date" type="text" data-bind="value: personNotifiedDate" class="form-control datepicker" placeholder="MM/DD/YYYY" />  
                                            </div>
                                            <span data-bind="validationMessage: personNotifiedDate" class="help-block"></span>
                                        </div>
                                        <div class="form-group col-md-12" data-bind="validationElement: backchargeResponseFromVendor">
                                            @Html.Label("Response from vendor", new { @class = "control-label", @for = "backchargeResponseFromVendor" })
                                            <textarea class="form-control" maxlength="255" data-bind="value: backchargeResponseFromVendor" id="backchargeResponseFromVendor"></textarea>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-submit">
                                    <button class="btn btn-primary" data-bind="click: isPayment() ? addPayment : addStandAloneBackcharge, enable: canAddPayment, visible: isPayment() || isStandAloneBackcharge()" disabled="">Add</button>
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#addPayment" data-bind="click: clearPaymentFields, visible: isPayment() || isStandAloneBackcharge()">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <hr class="margin-top-10 margin-bottom-10"/>
                        <p class="padding-left-15" data-bind="visible: allPaymentsAndBackcharges().length < 1"><em>No Payments/Backcharges Available</em></p>
                        <div class="remove-list-style">
                            <ul data-bind="foreach: allPaymentsAndBackcharges">
                                <div id="allServiceCallPaymentsAndBackcharges">
                                    <li class="row service-call-line">
                                        <div class="col-md-12" data-bind="visible: standAloneBackcharge()">
                                            <div class="no-left-right-padding">
                                                <div class="row payment-line">
                                                    <div class="row col-md-12">
                                                        <div class="col-md-4">
                                                            <strong><span data-bind="text: backchargeVendorName"></span></strong>
                                                            <br />
                                                            <span data-bind="text: 'Backcharge ' + backchargeStatusDisplayName(), css: 'label label-' + backchargeStatusBadgeClassName()"></span>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <b data-bind="text: costCode.costCode + '-' + costCode.displayName"></b>
                                                            <br />
                                                            <span data-bind="text: 'Created Date: ' + moment(createdDate).format('L')"></span>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <h4 data-bind="currency: backchargeAmount"></h4>
                                                        </div>
                                                        <div class="col-md-4 margin-bottom-3 text-align-right no-right-padding no-print">
                                                            @if (Model.CanTakeActionOnPayments)
                                                            {
                                                                <a href="#" class="btn btn-default btn-sm btn-hover-show margin-right-10 hidden-xs" data-bind="visible: shouldDisplayApproveBackcharge, click: approveBackcharge">Approve</a>
                                                                <a href="#" class="btn btn-default btn-sm btn-hover-show margin-right-10 btn-action-with-popup hidden-xs" data-bind="visible: shouldDisplayHoldBackcharge, attr: {id:'btn_holdBackcharge-' + backchargeId}, click: displayHoldBackcharge">Hold</a>
                                                                <button class="btn btn-default btn-sm btn-hover-show margin-right-10 hidden-xs" data-bind="visible: shouldDisplayDenyBackcharge, click:displayDenyBackcharge">Deny</button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-default btn-sm btn-hover-show margin-right-10 hidden-xs" data-bind="visible: shouldDisplayDeleteBackcharge, click:deleteBackcharge">Delete</button>
                                                            }
                                                    
                                                            @if (Model.CanTakeActionOnPayments)
                                                            {
                                                                <a href="#" class="btn btn-default btn-sm margin-right-10 hidden-sm hidden-md hidden-lg" data-bind="visible: shouldDisplayApproveBackcharge, click: approveBackcharge">Approve</a>
                                                                <a href="#" class="btn btn-default btn-sm margin-right-10 btn-action-with-popup hidden-sm hidden-md hidden-lg" data-bind="visible: shouldDisplayHoldBackcharge, attr: {id:'btn_denyBackcharge-' + backchargeId}, click: displayHoldBackcharge">Hold</a>
                                                                <button class="btn btn-default btn-sm margin-right-10 hidden-sm hidden-md hidden-lg" data-bind="visible: shouldDisplayDenyBackcharge, click:displayDenyBackcharge">Deny</button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-default btn-sm margin-right-10 hidden-sm hidden-md hidden-lg" data-bind="visible: shouldDisplayDeleteBackcharge, click:deleteBackcharge">Delete</button>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 margin-top-10 margin-bottom-10">
                                                        <small>
                                                            <span data-bind="text: 'Notified ' + personNotified + ' on ' + personNotifiedDate"></span>
                                                            <br />
                                                            <strong>Phone: </strong><span data-bind="text: personNotifiedPhoneNumber"></span>
                                                            <br />
                                                            <strong>Response from Vendor: </strong><span data-bind="text: backchargeResponseFromVendor"></span>
                                                        </small>
                                                    </div>
                                                    <div class="col-md-12 alert alert-warning no-bottom-margin" data-bind="visible: isBackchargeHeld">
                                                        <strong><span data-bind="text: backchargeStatusDisplayName"></span></strong> - <span data-bind="    date: backchargeHoldDate"></span>- <span data-bind="    text: backchargeHoldComments"></span>
                                                    </div>
                                                    <div class="col-md-12 alert alert-danger no-bottom-margin" data-bind="visible: isBackchargeDenied">
                                                        <strong><span data-bind="text: backchargeStatusDisplayName"></span></strong> - <span data-bind="    date: backchargeDenyDate"></span>- <span data-bind="    text: backchargeDenyComments"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 margin-bottom-5" data-bind="visible: !standAloneBackcharge()">
                                            <div class="no-left-right-padding">
                                                <div class="row payment-line">
                                                    <div class="row col-md-12 ">
                                                        <div class="col-md-4">
                                                            <strong><span data-bind="text: vendorName"></span></strong>
                                                            <br />
                                                            <span data-bind="text: 'Payment ' + paymentStatusDisplayName(), css: 'label label-' + paymentStatusBadgeClassName()"></span>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <b data-bind="text: costCode.costCode + '-' + costCode.displayName"></b>
                                                            <br/>
                                                            <span data-bind="text: 'Invoice #' + invoiceNumber"></span>
                                                            <br />
                                                            <span data-bind="text: 'Created Date: ' + moment(createdDate).format('L')"></span>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <h4 data-bind="currency: amount"></h4>
                                                        </div>

                                                        <div class="col-md-4 margin-bottom-3 text-align-right no-right-padding no-print">
                                                            @if (Model.CanTakeActionOnPayments)
                                                            {
                                                                <a href="#" class="btn btn-default btn-sm btn-hover-show margin-right-10 hidden-xs" data-bind="visible: shouldDisplayApprovePayment, click: approvePayment">Approve</a>
                                                                <a href="#" class="btn btn-default btn-sm btn-hover-show margin-right-10 btn-action-with-popup hidden-xs" data-bind="visible: shouldDisplayHoldPayment, attr: {id:'btn_hold-' + paymentId}, click: displayHold">Hold</a>
                                                            }
                                                            <button class="btn btn-default btn-sm btn-hover-show margin-right-10 hidden-xs" data-bind="visible: shouldDisplayDeletePayment, click:deletePayment">Delete</button>

                                                            @if (Model.CanTakeActionOnPayments)
                                                            {
                                                                <a href="#" class="btn btn-default btn-sm margin-right-10 hidden-sm hidden-md hidden-lg" data-bind="visible: shouldDisplayApprovePayment, click: approvePayment">Approve</a>
                                                                <a href="#" class="btn btn-default btn-sm margin-right-10 btn-action-with-popup hidden-sm hidden-md hidden-lg" data-bind="visible: shouldDisplayHoldPayment, attr: {id:'btn_hold-' + paymentId}, click: displayHold">Hold</a>
                                                            }
                                                            <button class="btn btn-default btn-sm margin-right-10 hidden-sm hidden-md hidden-lg" data-bind="visible: shouldDisplayDeletePayment, click:deletePayment">Delete</button>
                                                        </div>
                                                    </div>
                                                    <!-- ko if: comments -->
                                                    <div class="row col-md-12 margin-top-10">
                                                        <div class="col-md-12">
                                                            <small>
                                                                @Html.Label("Comments", new { @class = "control-label" })<br/>
                                                                <span data-bind="text: comments"></span>
                                                            </small>
                                                        </div>
                                                    </div>
                                                    <!-- /ko -->
                                                    <div class="row col-md-12" data-bind="visible: isHomeownerPayment">
                                                        <div class="col-md-4">
                                                            <span class="label label-info">Homeowner Payment</span>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <span data-bind="text: notifiedProjectCoordinator"></span> was notified
                                                        </div>
                                                        <div class="col-md-5">
                                                            <span data-bind="visible: sendCheckToProjectCoordinator">Check will be sent to PC </span>
                                                            <span data-bind="visible: !sendCheckToProjectCoordinator">Check will be sent to homeowner</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" data-bind="visible: isBackcharge">
                                            <div class="margin-bottom-10">
                                                <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;<a data-toggle="collapse" class="cursor-pointer" data-bind="attr:{'data-target': '#backcharge-' + paymentId}">Backcharge</a>
                                            </div>
                                            <div class="row backcharge-container collapse" data-bind="attr: { id: 'backcharge-' + paymentId }">
                                                <div>
                                                    <div class="col-md-12 margin-top-10">
                                                        <span data-bind="text: backchargeStatusDisplayName, css: 'label label-' + backchargeStatusBadgeClassName()"></span>
                                                    </div>
                                                    <div class="col-md-6 margin-top-10">
                                                        <small>
                                                            <strong><span data-bind="text: backchargeVendorName"></span></strong>
                                                            <br />
                                                            <span data-bind="text: backchargeReason"></span>
                                                        </small>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <small>
                                                            <span><strong>Backcharge Amount: </strong></span></small>
                                                        <h4 data-bind="currency: backchargeAmount"></h4>

                                                    </div>
                                               
                                          
                                                    <div class="col-md-12 margin-top-10 margin-bottom-10">
                                                        <small>
                                                            <span data-bind="text: 'Notified ' + personNotified + ' on ' + personNotifiedDate"></span>
                                                            <br />
                                                            <strong>Phone: </strong><span data-bind="text: personNotifiedPhoneNumber"></span>
                                                            <br />
                                                            <strong>Response from Vendor: </strong><span data-bind="text: backchargeResponseFromVendor"></span>
                                                        </small>
                                                    </div>
                                                    @if (Model.CanTakeActionOnPayments)
                                                    {
                                                        <div class="col-md-12 form-inline no-print">
                                                            <div class="row row-list">
                                                                <div data-bind="visible: shouldDisplayApproveBackcharge" class="inline-block">
                                                                    <small><button class="btn btn-link" data-bind="click:approveBackcharge">Approve</button>|</small>
                                                                </div>
                                                                <div data-bind="visible: shouldDisplayHoldBackcharge" class="inline-block">
                                                                    <small><a href="#" class="btn btn-link btn-action-with-popup" data-bind="attr: {id:'btn_holdBackcharge-' + backchargeId}, click: displayHoldBackcharge">Hold</a>|</small>
                                                                </div>
                                                                <div data-bind="visible: shouldDisplayDenyBackcharge" class="inline-block">
                                                                    <small><a href="#" class="btn btn-link btn-action-with-popup" data-bind="attr: {id:'btn_denyBackcharge-' + backchargeId}, click: displayDenyBackcharge">Deny</a></small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    <div class="col-md-12 alert alert-warning no-bottom-margin" data-bind="visible: isBackchargeHeld">
                                                        <strong><span data-bind="text: backchargeStatusDisplayName"></span></strong> - <span data-bind="    date: backchargeHoldDate"></span>- <span data-bind="    text: backchargeHoldComments"></span>
                                                    </div>
                                                    <div class="col-md-12 alert alert-danger no-bottom-margin" data-bind="visible: isBackchargeDenied">
                                                        <strong><span data-bind="text: backchargeStatusDisplayName"></span></strong> - <span data-bind="    date: backchargeDenyDate"></span>- <span data-bind="    text: backchargeDenyComments"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 alert alert-warning no-bottom-margin" data-bind="visible: isHeld">
                                            <strong><span data-bind="text: paymentStatusDisplayName"></span></strong> - <span data-bind="date: holdDate"></span> - <span data-bind="text: holdComments"></span>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="panel panel-default">
                    <section>
                        <h3 class="col-md-12">Attachments
                            <span>
                                <button type="button" class="btn btn-default pull-right has-bottom-tooltip no-print" title="Add Attachments" data-toggle="collapse" data-target="#addAttachment"><span class="glyphicon glyphicon-plus"></span></button>
                            </span>
                        </h3>
                        <div id="addAttachment" class="collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        @using (Html.BeginForm("UploadAttachment", "ServiceCall"))
                                        {
                                            @Html.HiddenFor(x => Model.ServiceCallId, new { @Name = "ServiceCallId" })
                                            @Html.HiddenFor(x => Model.ServiceCallLineItemId, new { @Name = "ServiceCallLineItemId" })
                                            @Html.EditorFor(x => x.TempFiles)
                                            <input type="submit" class="btn btn-primary trigger-file-uploader" value="Add" />
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#addAttachment">Cancel</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="padding-left-15" data-bind="visible: allAttachments().length < 1"><em>No Attachments Available</em></p>
                        <div class="remove-list-style attachments row">
                            <div class="clearfix"></div>
                            <ul data-bind="foreach: allAttachments">
                                <li>
                                    <a class="attached-file" data-bind="css: 'download-attachment', attr:{'href': '@Url.Action("DownloadAttachment", "ServiceCall")/' + serviceCallAttachmentId}">
                                        @if (User.IsInRole(UserRoles.WarrantyServiceCoordinator) || User.IsInRole(UserRoles.CustomerCareManager))
                                        {
                                            <span data-url="" data-bind="attr: { 'data-attachment-id': serviceCallAttachmentId, 'data-url':'@Url.Action("DeleteAttachment", "ServiceCall")    '}, css: 'boxclose', click: $parent.removeAttachment.bind($parent)"></span>
                                        }
                                        <span class="download-attachment glyphicon glyphicon-file"></span>
                                    </a>
                                    <a href="#" data-bind="attr: { 'data-attachment-id': serviceCallAttachmentId}, editable: displayName, editableOptions: { pk: serviceCallAttachmentId, url: '@Url.Action("RenameAttachment", "ServiceCall")    '}"  class="attached-file-display-name"></a>
                                    <br />
                                    <p data-bind="text: createdBy + ' on ' + moment(createdDate).format('L'), css: 'attachment-info'"></p>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h3 class="col-md-12">Notes
                            <span>
                                <button type="button" class="btn btn-default pull-right has-bottom-tooltip no-print" title="Add Note" data-toggle="collapse" data-target="#addCallNote"><span class="glyphicon glyphicon-plus"></span></button>
                            </span>
                        </h3>
                        <div class="clearfix"></div>
                        <div id="addCallNote" class="collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="control-group" data-bind="validationElement: noteDescriptionToAdd">
                                            @Html.TextArea("Description", null, new { id = "addCallNoteDescription", @class = "form-control", data_bind = "text: noteDescriptionToAdd, value: noteDescriptionToAdd, valueUpdate: 'afterkeydown', attr:{placeholder: 'Add note'}", @rows = 3 })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="form-submit">
                                    <button class="btn btn-primary" data-bind="click: addCallNote">Add</button>
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#addCallNote" data-bind="click: cancelCallNote">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <p class="padding-left-15" data-bind="visible: allCallNotes().length < 1"><em>No Notes Available</em></p>
                        <div data-bind="foreach: allCallNotes">
                            <div id="allServiceCallNotes" class="service-call-line edit-line-item row line-detail">
                                <div class="col-md-9">
                                    <div class="editor" data-bind="css: { editing: editingNote }">
                                        <div class="margin-bottom-5">
                                            <strong><small><span data-bind="text: createdBy"></span></small></strong>
                                            <small><span data-bind="text: moment(createdDate).format('L')"></span></small>
                                        </div>
                                        <div class="form-group" data-bind="validationElement: note">
                                            @Html.TextArea("Description", null, new { id = "editLineNote", @class = "form-control edit", data_bind = "text: note, value: note, valueUpdate: 'afterkeydown'", @rows = 3 })
                                        </div>
                                        <p data-bind="text: note" class="view"></p>
                                    </div>
                                    <div class="editor margin-bottom-10" data-bind="css: { editing: editingNote }">
                                        <button type="submit" class="btn btn-primary edit" data-bind="click: saveNoteChanges, clickBubble: false">Save</button>
                                        <button class="btn btn-link edit" data-bind="click: cancelNoteChanges, clickBubble: false">Cancel</button>
                                    </div>
                                </div>
                                <div class="col-md-3 margin-bottom-3 text-align-right no-right-padding no-print">
                                    @if (User.IsInRole(UserRoles.WarrantyServiceCoordinator) || User.IsInRole(UserRoles.CustomerCareManager))
                                    {
                                        <button id="btn-edit-line-note" type="button" class="btn btn-default btn-sm btn-hover-show margin-right-10 hidden-xs" data-bind="click: function() { editingNote(!editingNote()); }, visible: !editingNote()">Edit</button>
                                        <button id="btn-edit-line-note" type="button" class="col-xs-4 btn btn-default btn-sm margin-right-10 hidden-sm hidden-md hidden-lg" data-bind="click: function() { editingNote(!editingNote()); }, visible: !editingNote()">Edit</button>
                                    
                                        <button id="btn-delete-line-note" type="button" class="btn btn-default btn-sm btn-hover-show margin-right-10 hidden-xs" data-bind="click: deleteNote, visible: !editingNote()">Delete</button>
                                        <button id="btn-delete-line-note" type="button" class="col-xs-4 btn btn-default btn-sm margin-right-10 margin-bottom-10 hidden-sm hidden-md hidden-lg" data-bind="">Delete</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-bind="foreach: allPaymentsAndBackcharges">
    <div data-bind="attr: {id: 'hold-' + paymentId}" class="popup-action-with-message">
        <textarea class="form-control margin-bottom-10" rows="5" placeholder="Enter reason" data-bind="value: holdComments"></textarea>
        <a href="#" class="btn btn-primary btn-execute-action" data-bind="click: holdPayment">Submit</a>
        <a href="#" class="btn-link btn-cancel-popup" data-bind="click: cancelPopup">Cancel</a>
    </div>
    <div data-bind="attr: {id: 'holdBackcharge-' + backchargeId}" class="popup-action-with-message">
        <textarea class="form-control margin-bottom-10" rows="5" placeholder="Enter reason" data-bind="value: backchargeHoldComments"></textarea>
        <a href="#" class="btn btn-primary btn-execute-action" data-bind="click: holdBackcharge">Submit</a>
        <a href="#" class="btn-link btn-cancel-popup" data-bind="click: cancelPopup">Cancel</a>
    </div>
        <div data-bind="attr: {id: 'denyBackcharge-' + backchargeId}" class="popup-action-with-message">
        <textarea class="form-control margin-bottom-10" rows="5" placeholder="Enter reason" data-bind="value: backchargeDenyComments"></textarea>
        <a href="#" class="btn btn-primary btn-execute-action" data-bind="click: denyBackcharge">Submit</a>
        <a href="#" class="btn-link btn-cancel-popup" data-bind="click: cancelPopup">Cancel</a>
    </div>
</div>
@section modules
{
    <script>
        define('modelData', function() {
            return {
                initialServiceCallLineItem: @Html.Raw(Model.ToJson()),
                initialServiceCallLineNotes: @Html.Raw(Model.ServiceCallLineItemNotes.ToJson()),
                initialServiceCallLineAttachments: @Html.Raw(Model.ServiceCallLineItemAttachments.ToJson()),
                initialServiceCallLinePayments: @Html.Raw(Model.ServiceCallLineItemPayments.ToJson()),
                initialServiceCallLineStandAloneBackcharges: @Html.Raw(Model.ServiceCallLineItemStandAloneBackcharges.ToJson()),
                initialServiceCallLinePurchaseOrders: @Html.Raw(Model.ServiceCallLineItemPurchaseOrders.ToJson()),

                attachmentRemovalMessage: '@WarrantyConstants.AttachmentRemovalMessage',
                vendors: @Html.Raw(Model.Vendors.ToJson()),
                rootCauseCodes: @Html.Raw(@RootCause.GetAll().Where(x => x.Value != @RootCause.Imported.Value).OrderBy(x => x.DisplayName).Select(x => new { x.Value, Text = x.DisplayName, }).ToJson()),
                rootProblemCodes: @Html.Raw(@RootProblem.GetAllNonDeprecated().OrderBy(x => x.DisplayName).Select(x => new { x.Value, Text = x.DisplayName }).ToJson()),
                noActionRootCauseCode: @Html.Raw(@RootCause.NoAction.ToJson()),
                noActionRootProblemCode: @Html.Raw(@RootProblem.NoAction.ToJson()),
                paymentTypes: @Html.Raw(@PaymentTypes.GetAll().OrderBy(x => x.DisplayName).Select(x => new { x.Value, Text = x.DisplayName }).ToJson()),
                standAloneBackchargePaymentType: @Html.Raw(@PaymentTypes.StandAloneBackcharge.ToJson()),
                paymentPaymentType: @Html.Raw(@PaymentTypes.Payment.ToJson()),
                maxPersonNotifiedLength: @Html.Raw(@WarrantyConstants.maxPersonNotifiedLength),
                maxInvoiceNumberLength: @Html.Raw(@WarrantyConstants.maxInvoiceNumberLength),
            }
        });

        define('dropdownData', function() {
            return {
                availableLookups: @Html.Raw(Model.ProblemCodes.Select(x => new { problemId = x.Value, problemCode = x.Text }).ToJson())
                }
        });
    </script>
}

