@using Warranty.UI.Core.Helpers
@model Warranty.Core.Features.CreateServiceCallVerifyCustomer.CreateServiceCallVerifyCustomerModel

<div class="container">
    <h2>Create Service Call Request</h2>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Step 2: Verify Customer
            </div>
            <div class="panel-body">
                <h3 class="no-margin">@Html.DisplayFor(x => x.HomeOwnerName)</h3>
                <div class="margin-bottom-15">@Format.YearsWithinWarranty(Model.YearsWithinWarranty, Model.WarrantyStartDate)</div>
                <p class="text-larger">
                    @Html.DisplayFor(x => x.Address1)<br/>
                    @Format.CityStateZip(Model.City, Model.StateCode, Model.PostalCode)
                </p>
                <p>
                    @Format.HomeNumber(Model.HomePhone)
                    @Format.CellNumber(Model.OtherPhone)
                    @Format.PhoneNumber(Model.WorkPhone1)
                    @Format.Email(Model.EmailAddress)
                </p>
            </div>
            <div class="panel-footer text-right">
                @Html.ActionLink("Continue", "Create", "ServiceCall", new {id = Model.JobId}, new{ @class="btn btn-primary", id="btn_search_call_verify_customer"})
            </div>
        </div>
    </div>
</div>