@using Warranty.Core.Enumerations
@using Warranty.UI.Core.Helpers
@model Warranty.Core.Features.PercentSurveyRecommendWidget.PercentSurveyRecommendWidgetModel

<div class="panel panel-info dashboard-widget">
    <div class="panel-heading">
        <div class="dashboard-widget-title">% DEFINITELY RECOMMEND</div>
    </div>
    <div class="panel-body">
        @if (Model.PercentRecommendThisMonth == 0)
        {
            <div class="dashboard-widget-number">N/A</div>
        }
        else
        {
            <div class="dashboard-widget-number">@Format.Percentage(Model.PercentRecommendThisMonth)</div>
        }
        @if (Model.PercentRecommendLastMonth == 0)
        {
            <div class="dashboard-widget-previous-number">N/A last month</div>
        }
        else
        {
            <div class="dashboard-widget-previous-number">@Format.Percentage(Model.PercentRecommendLastMonth) last month</div>
        }
        <div class="dashboard-widget-footnote">
            <span class="pull-left">@Month.FromValue(DateTime.Today.AddMonths(-1).Month).Abbreviation: @Model.TotalSurveysLastMonth</span>
            <span class="pull-right">@Month.FromValue(DateTime.Today.Month).Abbreviation: @Model.TotalSurveysThisMonth</span>
        </div>
    </div>
</div>
