@using Warranty.UI.Core.Helpers
@model Warranty.Core.Features.ServiceCallsWidget.ServiceCallsWidgetModel

@if (!Model.SpecialProjectServiceCalls.Any())
{
    <div class="well-sm">
        <em>No Special Projects.</em>
    </div>
}
else
{
<div class="panel-group" id="specialproject_list">
    @foreach (var employee in Model.RepresentativeWithSpecialProjectCalls)
    {
        <div class="panel list-group-item no-left-right-padding">
            <a data-toggle="collapse" data-parent="#specialproject_list" href="#collapseSpecialProjectCalls@(employee.EmployeeNumber)" class="text-capitalize accordion-toggle collapsed">@employee.Name</a> <span class="badge">@employee.ServiceCallsCount</span>

            <div id="collapseSpecialProjectCalls@(employee.EmployeeNumber)" class="collapse panel-body no-left-right-padding">
                @foreach (var line in Model.SpecialProjectServiceCalls.Where(x => x.AssignedToEmployeeNumber == employee.EmployeeNumber))
                {
                    <div class="service-call-line">
                        <div class="col-md-3">
                            <small class="text-muted">@line.CallNumber</small>
                            <small class="pull-right text-muted">@Format.DateMonthDay(line.CreatedDate)</small>
                        </div>
                        <div class="col-md-5">
                            <div class="col-md-1 hidden-sm hidden-xs">
                                @Format.NumberOfLineItems(line.NumberOfLineItems)
                            </div>
                            <div class="col-md-10">
                                <a>@line.HomeownerName</a><br />
                                @line.Address<br/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            @Format.PhoneNumber(line.PhoneNumber)<br/>
                        </div>
                        <div class="col-md-1 text-center">
                            <button type="button" class="btn btn-default dropdown-toggle pull-right" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Reassign", "Reassign", "ServiceCall", new {id = @line.ServiceCallId}, null)</li>
                                <li>@Html.ActionLink("Request Payment", "RequestPayment", "ServiceCall", new {id = @line.ServiceCallId}, null)</li>
                                <li>@Html.ActionLink("Add Note", "AddNote", "ServiceCall", new {id = @line.ServiceCallId}, null)</li>
                                <li>@Html.ActionLink("Close", "Close", "ServiceCall", new {id = @line.ServiceCallId}, null)</li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }
            </div>
        </div>
    }

</div>
}