@using Warranty.Core.Enumerations
@using Warranty.UI.Core.Helpers
@model Warranty.Core.ToDoInfrastructure.Models.ToDoJob10MonthAnniversaryModel
<div class="todo @Css.ToDoClass(ToDoType.JobAnniversaryTask) hide" id="service-call-approval-todo-@Model.ServiceCallId">
    <div class="todo-widget-data-container">
        <div class="service-call-request-icon">
            10
        </div>

        <div class="todo-widget-separator-line">
        </div>

        <div class="todo-widget-element">
            <small class="text-muted">
                @Html.ActionLink(Model.JobNumber.ToString(), "JobSummary", "Job", new { id = Model.JobId }, null)
            </small>
            @Format.YearsWithinWarranty(Model.YearsWithinWarranty, Model.WarrantyStartDate)
        </div>

        <div class="todo-widget-element service-call-line cursor-pointer" onclick="location.href='@Url.Action("CallSummary", "ServiceCall", new {id=Model.ServiceCallId})';">
            <p class="text-muted margin-bottom-5 small-text">One year service call created for this job</p>
            <strong>@Format.HomeOwner(Model.HomeOwnerName, Model.HomeOwnerNumber)</strong>
            <br />
            @Model.AddressLine
        </div>

    </div>
</div>
