@using Warranty.Core.Enumerations
@model dynamic

@{
    ViewBag.Title = "Home";
}

<div class="container">
    @if (User.IsInRole(UserRoles.WarrantyServiceRepresentative))
    { 
        <div class="col-md-12">
            @Html.Action("WarrantyServiceRepServiceCallsWidget", "Home")
        </div>
    }
    @if (User.IsInRole(UserRoles.WarrantyServiceManager) || User.IsInRole(UserRoles.WarrantyServiceCoordinator) || User.IsInRole(UserRoles.WarrantyAdmin))
    {
        <div class="col-md-8">
            @Html.Action("ServiceCallsWidget", "Home")

            <div class="row">    
                <div class="col-md-6">
                    @Html.Action("MyTeamWidget", "Home")
                </div>
                <div class="col-md-6 pull-right">
                    @Html.Action("AmountSpentWidget", "Home")
                </div>
            </div>
        </div>
        <div class="col-md-4">
        @Html.Action("ToDoWidget", "Home")
    </div>
    }
</div>
