@using Warranty.Core.Enumerations
@model dynamic

@{
    ViewBag.Title = "Home";
}

<div class="container">
    @if (User.IsInRole(UserRoles.WarrantyServiceRepresentative))
    { 
        <div class="col-md-8">
            <div class="row">
                @Html.Action("WarrantyServiceRepServiceCallsWidget", "Home")
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.Action("WarrantyDollarsSpentWidgetWSR", "Home")
                </div>
                <div class="col-md-4">
                    @Html.Action("AverageDaysClosedWidgetWSR", "Home")
                </div>
                <div class="col-md-4">
                    @Html.Action("PercentClosedWithinSevenDaysWidgetWSR", "Home")
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.Action("PercentSurveyRecommendWidgetWSR", "Home")
                </div>
                <div class="col-md-6">
                    @Html.Action("PercentSurveyExcellentWidgetWSR", "Home")
                </div>
            </div>
        </div>
    }
    @if (User.IsInRole(UserRoles.WarrantyServiceManager) || User.IsInRole(UserRoles.WarrantyServiceCoordinator) || User.IsInRole(UserRoles.WarrantyAdmin))
    {
        <div class="col-md-8">
            <div class="row">
                @Html.Action("ServiceCallsWidget", "Home")
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.Action("WarrantyDollarsSpentWidget", "Home")
                </div>
                <div class="col-md-4">
                    @Html.Action("AverageDaysClosedWidget", "Home")
                </div>
                <div class="col-md-4">
                    @Html.Action("PercentClosedWithinSevenDaysWidget", "Home")
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.Action("PercentSurveyRecommendWidget", "Home")
                </div>
                <div class="col-md-6">
                    @Html.Action("PercentSurveyExcellentWidget", "Home")
                </div>
            </div>
        </div>
    }
    <div class="col-md-4">
        @Html.Action("ToDoWidget", "Home")
    </div>


</div>
