@model Warranty.Core.Features.MyServiceTeamWidget.MyServiceTeamWidgetModel
<div class="col-md-8">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#my_service_team_open" role="tab" data-toggle="tab">Open <span class="label label-default">@Model.MyTeamChartEmployeeSummaries.Select(x => x.TotalOpen).Sum()</span></a></li>
        <li><a href="#my_service_team_closed" role="tab" data-toggle="tab">Closed <span class="label label-success">@Model.MyTeamChartEmployeeSummaries.Select(x => x.TotalClosed).Sum()</span></a></li>
        <li><a href="#my_service_team_overdue" role="tab" data-toggle="tab">Overdue <span class="label label-danger">@Model.MyTeamChartEmployeeSummaries.Select(x => x.TotalOverdue).Sum()</span></a></li>
        <li class="pull-right"><span class="widget-header">Team Charts</span></li>
    </ul>
        
    <div class="tab-content">
        <div class="tab-pane active" id="my_service_team_open">
            @Html.Partial("_WidgetMyServiceTeamOpenChart", Model)
        </div>
        <div class="tab-pane" id="my_service_team_closed">
            @Html.Partial("_WidgetMyServiceTeamClosedChart", Model)
        </div>
        <div class="tab-pane" id="my_service_team_overdue">
            @Html.Partial("_WidgetMyServiceTeamOverdueChart", Model)
        </div>
    </div>
    <hr/>
    <div>
        @if (!Model.MyTeamChartEmployeeSummaries.Any())
        {
            <div class="well-sm">
                <em>No Team service calls assigned.</em>
            </div>
        }
        else
        {
            <div class="col-md-6 col-md-offset-1 text-capitalize">Service Representative</div>
            <div class="col-md-1">Open</div>
            <div class="col-md-1">Closed</div>
            <div class="col-md-1">Total</div>
            <div class="col-md-1">Overdue</div>
            <div class="clearfix"></div>
        
            foreach (var line in Model.MyTeamChartEmployeeSummaries)
            {
                @*<div class="service-call-line hide">*@
                <div class="">
                    <div class="col-md-6 col-md-offset-1 text-capitalize">
                        @Html.ActionLink(line.EmployeeName, "ServiceCalls", "ServiceRep", new { id = line.WarrantyRepresentativeEmployeeId }, null)
                    </div>
                    <div class="col-md-1 text-right">@line.TotalOpen</div>
                    <div class="col-md-1 text-right">@line.TotalClosed</div>
                    <div class="col-md-1 text-right">@line.TotalCalls</div>
                    <div class="col-md-1 text-right">@line.TotalOverdue</div>
                    <div class="clearfix"></div>
                </div>
            }
        }
    </div>
    <br/>
    <div class="col-md-6 col-md-offset-1 text-capitalize"><u>Total</u></div>
    <div class="col-md-1 text-right"><u>@Model.MyTeamChartEmployeeSummaries.Select(x => x.TotalOpen).Sum()</u></div>
    <div class="col-md-1 text-right"><u>@Model.MyTeamChartEmployeeSummaries.Select(x => x.TotalClosed).Sum()</u></div>
    <div class="col-md-1 text-right"><u>@(Model.MyTeamChartEmployeeSummaries.Select(x => x.TotalOpen).Sum() + Model.MyTeamChartEmployeeSummaries.Select(x => x.TotalClosed).Sum())</u></div>
    <div class="col-md-1 text-right"><u>@Model.MyTeamChartEmployeeSummaries.Select(x => x.TotalOverdue).Sum()</u></div>
    <div class="clearfix"></div>
</div>
