@using Warranty.Core.Enumerations
@using Warranty.UI.Core.Helpers
@model Warranty.Core.Features.ServiceCallsWidget.ServiceCallsWidgetModel
    <ul class="nav nav-tabs responsive" role="tablist">
        <li class="active"><a href="#my_service_calls" role="tab" data-toggle="tab">My <span class="label label-default">@Model.MyServiceCalls.Count()</span></a></li>
        @if (User.IsInRole(UserRoles.CustomerCareManager) || User.IsInRole(UserRoles.WarrantyServiceCoordinator))
        {
            <li><a href="#open_calls" role="tab" data-toggle="tab">Open @Format.ShowRedLabelIfCountGreaterThanZero(Model.OpenServiceCalls.Count())</a></li>
        }
        <li><a href="#escalated_calls" role="tab" data-toggle="tab">Escalated @Format.ShowRedLabelIfCountGreaterThanZero(Model.EscalatedServiceCalls.Count())</a></li>
        <li><a href="#special_projects" role="tab" data-toggle="tab">Special Projects <span class="label label-default">@Model.SpecialProjectServiceCalls.Count()</span></a></li>
        @if (User.IsInRole(UserRoles.WarrantyServiceRepresentative))
        {
            <li><a href="#closed_calls" role="tab" data-toggle="tab">Closed <span class="label label-default">@Model.ClosedServiceCalls.Count()</span></a></li>
        }
        <li class="pull-right"><span class="widget-header">Service Calls</span></li>
    </ul>
        
    <div id="serviceCallsWidget" class="tab-content responsive">
        <div class="tab-pane active" id="my_service_calls">
            @Html.Partial("_MyServiceCalls", Model)
        </div>
        @if (User.IsInRole(UserRoles.CustomerCareManager) || User.IsInRole(UserRoles.WarrantyServiceCoordinator))
        {
            <div class="tab-pane" id="open_calls">
                @Html.Partial("_OpenCalls", Model)
            </div>
        }
        <div class="tab-pane" id="escalated_calls">
            @Html.Partial("_EscalatedCalls", Model)
        </div>
        <div class="tab-pane" id="special_projects">
            @Html.Partial("_SpecialProjects", Model)
        </div>
        @if (User.IsInRole(UserRoles.WarrantyServiceRepresentative))
        {
            <div class="tab-pane" id="closed_calls">
                @Html.Partial("_ClosedCalls", Model)
            </div>
        }
    </div>
