@using Warranty.Core.Enumerations
@using Warranty.UI.Core.Helpers
@model Warranty.Core.Features.Report.WarrantyBonusSummary.WarrantyBonusSummaryModel

@{
    
}

<div class="container">
    <h3>WSR Bonus Summary</h3>
    <div class="panel panel-default no-print">
        <div class="panel-heading">
            <div id="warrantyBonusSummaryReportFilter">
                <div class="no-bottom-padding">
                    <div class="row">
                        <div class="col-md-12">
                            
                            @using (Html.BeginForm("WarrantyBonusSummaryWSRReport", "Report", FormMethod.Post, new { @class = "form-inline" }))
                            {
                                <div class="form-group margin-right-10">
                                    <span><strong>Filter by</strong></span>
                                </div>
                                if (!User.IsInRole(UserRoles.WarrantyServiceRepresentative))
                                {
                                    <div class="form-group">
                                        @Html.DropDownList("Model.SelectedEmployeeNumber", Model.EmployeeTiedToRepresentatives.Select(c => new SelectListItem {Text = c.EmployeeName, Value = c.EmployeeNumber.ToString()}), "Select Representative", new {@class = "form-control text-capitalize"})
                                    </div>
                                }
                                <div class="form-group">
                                    @Html.TextBox("Model.FilteredDate", null, new { id = "warrantyBonusSummaryDate", @class = "form-control monthpicker-input", placeholder = "Month"})
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" value="Apply" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (!Model.AnyResults)
    {
        <p><em>No entries match report criteria.</em></p>
    }
    else
    {
        <div id="warrantyBonusSummary" class="col-md-12">
            <h3 class="text-center">Warranty Service Rep. Bonus Summary</h3>
            <div class="row">
                <div class="col-md-6">
                    @Html.Label("Employee Name: ")
                    @Html.DisplayFor(model => model.BonusSummaries.FirstOrDefault().EmployeeName)
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        @Html.Label("Employee Number: ")
                        @Html.DisplayFor(model => model.BonusSummaries.FirstOrDefault().EmployeeNumber)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.Label("Bonus for Month/Year: ")
                    @Format.DateMonthYear(Model.FilteredDate)
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        @Html.Label("Division: ")
                        @Html.DisplayFor(model => model.BonusSummaries.FirstOrDefault().DivisionName)
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    @Html.Label("10% of savings (Total Warranty Allowances less Total Warranty Expense)")
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.Label("$40 = allowance per home under warranty (1-2 years)")
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.Label("$40 = maximum cost control bonus per home under warranty (1-2 years)")
                </div>
            </div>
            <br/>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped table-bordered text-right table-bonus">
                <thead>
                    <tr>
                        <th>Community Name</th>
                        <th>Warrantable Homes</th>
                        <th>Warranty Material [9425]</th>
                        <th>Warranty Labor [9430]</th>
                        <th>Other Warranty Material [9435]</th>
                        <th>Other Warranty Labor [9440]</th>
                        <th>Total Warranty Expense</th>
                        <th>Total Warranty Allowance</th>
                        <th>Warranty Surplus (Deficit)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var line in Model.BonusSummaries)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => line.CommunityName)</td>
                            <td>@Html.DisplayFor(model => line.NumberOfWarrantableHomes)</td>
                            <td>@Format.Money(line.MaterialDollarsSpent)</td>
                            <td>@Format.Money(line.LaborDollarsSpent)</td>
                            <td>@Format.Money(line.OtherMaterialDollarsSpent)</td>
                            <td>@Format.Money(line.OtherLaborDollarsSpent)</td>
                            <td>@Format.Money(line.TotalDollarsSpent)</td>
                            <td>@Format.Money(line.TotalWarrantyAllowance)</td>
                            <td>@Format.Money(line.TotalWarrantyDifference)</td>
                        </tr>
                    }
                    <tr class="totalLine">
                        <td>Total</td>
                        <td>@Html.DisplayFor(model => model.TotalNumberOfWarrantableHomes)</td>
                        <td>@Format.Money(Model.TotalMaterialDollarsSpent)</td>
                        <td>@Format.Money(Model.TotalLaborDollarsSpent)</td>
                        <td>@Format.Money(Model.TotalOtherMaterialDollarsSpent)</td>
                        <td>@Format.Money(Model.TotalOtherMaterialDollarsSpent)</td>
                        <td>@Format.Money(Model.TotalDollarsSpent)</td>
                        <td>@Format.Money(Model.TotalWarrantyAllowance)</td>
                        <td>@Format.Money(Model.TotalWarrantyDifference)</td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-12 margin-bottom-10">
                <div class="pull-right">
                    @Html.Label("Total Cost Control Bonus this Month: ")
                    @if (Model.TotalCostControlBonusAmount > 0)
                    {
                        @Format.Money(Model.TotalCostControlBonusAmount)
                        ;
                    }
                </div>
            </div>
            <section>
                <div class="row">
                    <div class="col-md-12">
                        @Html.Label("Definitely Would Recommend (11 months)")
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.Label("$50 for each response of 'Definitely Will' to 'Def Wld Rec' on 11 month survey")
                    </div>
                </div>
                <br/>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped table-bordered text-right table-bonus-survey">
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Job No.</th>
                            <th>Def. Wld. Rec. (11 mo)</th>
                            <th>Bonus</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var line in Model.DefinitelyWouldRecommendSurveys)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => line.HomeownerName)</td>
                                <td>@Html.DisplayFor(model => line.JobNumber)</td>
                                <td>@Html.DisplayFor(model => line.DefinitelyWillRecommend)</td>
                                <td>@Format.MoneyWithoutZero(line.BonusAmount)</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="col-md-12 margin-bottom-10">
                    <div class="pull-right">
                        @Html.Label("Definitely Would Recommend (11 mo) Bonus: ")
                        @if (Model.TotalDefinitelyWouldRecommendSurveyBonusAmount > 0)
                        {
                            @Format.MoneyWithoutZero(Model.TotalDefinitelyWouldRecommendSurveyBonusAmount)
                            ;
                        }
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <div class="col-md-12">
                        @Html.Label("Excellent Warranty (11 months)")
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.Label("$50 for each response of '9 or 10' to 'Excellent Warranty' on 11 month survey")
                    </div>
                </div>
                <br/>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped table-bordered text-right table-bonus-survey">
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Job No.</th>
                            <th>Excellent Warranty (11 mo)</th>
                            <th>Bonus</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var line in Model.ExcellentWarrantySurveys)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => line.HomeownerName)</td>
                                <td>@Html.DisplayFor(model => line.JobNumber)</td>
                                <td>@Html.DisplayFor(model => line.ExcellentWarrantyService)</td>
                                <td>@Format.MoneyWithoutZero(line.BonusAmount)</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="col-md-12 margin-bottom-10">
                    <div class="pull-right">
                        @Html.Label("Excellent Warranty (11 mo) Bonus: ")
                        @if (Model.TotalExcellentWarrantySurveyBonusAmount > 0)
                        {
                            @Format.MoneyWithoutZero(Model.TotalExcellentWarrantySurveyBonusAmount)
                            ;
                        }
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <div class="col-md-12">
                        @Html.Label("All Items Complete")
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.Label("$100 if the community average is >= 85%")
                    </div>
                </div>
                <br/>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped table-bordered text-right table-bonus-survey">
                    <thead>
                        <tr>
                            <th>Community Name</th>
                            <th>All Items Complete %</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var line in Model.AllItemsCompletes)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => line.CommunityName)</td>
                                <td>@Html.DisplayFor(model => line.CompletePercentage)</td>
                            </tr>
                        }
                        <tr class="totalLine">
                            <td>Total</td>
                            <td>@Model.TotalAllItemsCompletePercent.ToString("0.00")</td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-12 margin-bottom-10">
                    <div class="pull-right">
                        @Html.Label("All Items Complete Bonus: ")
                        @if (Model.TotalAllItemsCompleteBonusAmount > 0)
                        {
                            @Format.Money(Model.TotalAllItemsCompleteBonusAmount)
                            ;
                        }
                    </div>
                </div>
            </section>
        </div>
    }
</div>