@model Warranty.Core.Features.WarrantyBonusSummary.WarrantyBonusSummaryModel

@{
    ViewBag.Title = "WarrantyBonusSummary";
}

<div class="container">
    <div class ="col-md-12">
        <h3 class="text-center">Warranty Service Rep. Bonus Summary</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            Employee Name
        </div>
        <div class="col-md-6">
            Employee No.
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Bonus for Month/Year
        </div>
        <div class="col-md-6">
            Division
        </div>
    </div>
    <br/>
    <div class="row">
        @Html.Label("10% of savings (i.e. Total Warranty Allowances less Total Warranty Expense")
    </div>
    <div class="row">
        @Html.Label("$40 = allowance per home under warranty (1-2 years)")
    </div>
    <div class="row">
        @Html.Label("$40 = maximum cost control bonus per home under warranty (1-2 years)")
    </div>
    
    <div class="row small">
        <div class="col-md-4">@Html.Label("Community Name")</div>
        <div class="col-md-1">@Html.Label("Warrantable Homes")</div>
        <div class="col-md-1">@Html.Label("Warranty Material [9425]")</div>
        <div class="col-md-1">@Html.Label("Warranty Labor [9430]")</div>
        <div class="col-md-1">@Html.Label("Other Warranty Material [9435]")</div>
        <div class="col-md-1">@Html.Label("Other Warranty Labor [9440]")</div>
        <div class="col-md-1">@Html.Label("Total Warranty Expense")</div>
        <div class="col-md-1">@Html.Label("Total Warranty Allowance")</div>
        <div class="col-md-1">@Html.Label("Warranty Surplus (Deficit)")</div>
    </div>

    @foreach(var line in Model.BonusSummaries)
    {
        <div class="row small">
            <div class="col-md-4">@Html.DisplayFor(model => line.CommunityName)</div>
            <div class="col-md-1">@Html.DisplayFor(model => line.NumberOfWarrantableHomes)</div>
            <div class="col-md-1">@Html.DisplayFor(model => line.MaterialDollarsSpent)</div>
            <div class="col-md-1">@Html.DisplayFor(model => line.LaborDollarsSpent)</div>
            <div class="col-md-1">@Html.DisplayFor(model => line.OtherMaterialDollarsSpent)</div>
            <div class="col-md-1">@Html.DisplayFor(model => line.OtherLaborDollarsSpent)</div>
            <div class="col-md-1">@Html.DisplayFor(model => line.TotalDollarsSpent)</div>
            <div class="col-md-1">@Html.DisplayFor(model => line.TotalWarrantyAllowance)</div>
            <div class="col-md-1">@Html.DisplayFor(model => line.TotalWarrantyDifference)</div>
        </div>
    }
</div>