@model Warranty.Core.Features.Report.WSRSummary.WSRSummaryModel

<div class="container">
    <section class="margin-bottom-10">
        <h2 class="pull-left no-margin">WSR Summary Report</h2>
        @if (Model.AnyResults)
        {
            <div class="warranty-header-buttons">
                <a href="javascript:window.print()" class="btn btn-default pull-right margin-botom-10 no-print"><span class="glyphicon glyphicon-print"></span> Print</a>
            </div>
        }
        <div class="clearfix"></div>
    </section>

    @if (!Model.AnyResults)
    {
        <p><em>No entries match report criteria</em></p>
    }
    else
    {
        <div class="row">
            <div id="wsrSummary" class="col-md-12">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped table-bordered text-right table-wsr-summary">
                    <thead>
                        <tr>
                            <th>Employee Name</th>
                            <th>Employee Number</th>
                            <th>Warrantable Homes</th>
                            <th>Non-Warrantable Homes</th>
                            <th>Open Service Calls</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var line in Model.WSRSummaryLines)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => line.EmployeeName)</td>
                                <td>@Html.DisplayFor(model => line.EmployeeNumber)</td>
                                <td>@Html.DisplayFor(model => line.NumberOfWarrantableHomes)</td>
                                <td>@Html.DisplayFor(model => line.NumberOfNonWarrantableHomes)</td>
                                <td>@Html.DisplayFor(model => line.NumberOfOpenServiceCalls)</td>
                            </tr>
                        }
                        <tr class="totalLine">
                            <td>Total</td>
                            <td></td>
                            <td>@Html.DisplayFor(model => model.TotalNumberOfWarrantableHomes)</td>
                            <td>@Html.DisplayFor(model => model.TotalNumberOfNonWarrantableHomes)</td>
                            <td>@Html.DisplayFor(model => model.TotalNumberOfOpenServiceCalls)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    }
</div>