@using Warranty.UI.Core.Helpers
@model Warranty.Core.Features.RepServiceCalls.ServiceRepServiceCallsModel

@if (Model.ClosedServiceCalls.Any())
{
    foreach (var line in Model.ClosedServiceCalls)
    {
        <div class="service-call-line">
            <div class="col-md-1">
                <small class="text-muted">
                    @Html.ActionLink(line.CallNumber, "CallSummary", "ServiceCall", new {id = line.ServiceCallId}, null)
                </small><br/>@Format.YearsWithinWarranty(line.YearsWithinWarranty, line.WarrantyStartDate)
            </div>
            <div class="col-md-6">
                <div class="col-md-1 hidden-sm hidden-xs">
                    @Format.NumberOfLineItems(line.NumberOfLineItems)
                </div>
                <div class="col-md-10">
                    @line.HomeownerName<br />@Html.ActionLink(line.Address, "JobSummary", "Job", new {id = line.JobId}, null)
                </div>
            </div>
            <div class="col-md-2">@Format.Escalated(line.IsEscalated, line.EscalationReason, line.EscalationDate)</div>
            <div class="col-md-1 pull-right">@Format.SpecialProject(line.IsSpecialProject)</div>
            <div class="col-md-1 pull-right">@Format.DaysOpenedFor(line.DaysOpenedFor, line.CreatedDate, line.CompletionDate)</div>
            <div class="clearfix"></div>
        </div>
    }
}
else
{
    <em>No closed calls</em>
}