@using Warranty.UI.Core.Helpers
@model Warranty.Core.Features.RepServiceCalls.ServiceRepServiceCallsModel

@foreach (var line in Model.ClosedServiceCalls)
{
    <div class="service-call-line">
        <div class="col-md-1">
            <small class="text-muted">@line.CallNumber</small>
        </div>
        <div class="col-md-4">
            <a>@line.HomeownerName</a><br />@line.Address
        </div>
        <div class="col-md-1">@Format.YearsWithinWarranty(line.YearsWithinWarranty, line.WarrantyStartDate)</div>
        <div class="col-md-1">@Format.Escalated(line.IsEscalated)</div>
        <div class="col-md-1">@Format.SpecialProject(line.IsSpecialProject)</div>
        <div class="col-md-2">@Format.DaysOpenedFor(line.DaysOpenedFor, line.CreatedDate, line.CompletionDate)</div>
        <div class="clearfix"></div>
    </div>
}