@using Warranty.UI.Core.Helpers
@model Warranty.Core.Features.RepServiceCalls.ServiceRepServiceCallsModel

@foreach (var line in Model.OpenServiceCalls)
{
    <div class="service-call-line">
        <div class="col-md-1">
            <small class="text-muted">
                @Html.ActionLink(line.CallNumber, "CallSummary", "ServiceCall", new {id = line.ServiceCallId}, null)
            </small><br/>@Format.YearsWithinWarranty(line.YearsWithinWarranty, line.WarrantyStartDate)
        </div>
        <div class="col-md-4">
            <div class="col-md-1 hidden-sm hidden-xs">
                @Format.NumberOfLineItems(line.NumberOfLineItems)
            </div>
            <div class="col-md-10">
                @line.HomeownerName<br />@Html.ActionLink(line.Address, "JobSummary", "Job", new {id=line.JobId}, null)
            </div>
        </div>
        <div class="col-md-2">@Format.PhoneNumber(line.PhoneNumber)</div>
        <div class="col-md-1">@Format.Escalated(line.IsEscalated, line.EscalationReason, line.EscalationDate)</div>
        <div class="col-md-1">@Format.SpecialProject(line.IsSpecialProject)</div>
        <div class="col-md-2 has-bottom-tooltip" title="@Format.DateForServiceCallWiget(line.CreatedDate)">
            <span class="glyphicon glyphicon-time text-muted"></span> @Format.ServiceCallDaysLeft(@line.NumberOfDaysRemaining)<br />
            <div class="progress time-remaining-progress hidden-sm hidden-xs">
                <div class="progress-bar @Css.ServiceCallProgressBar(line.NumberOfDaysRemaining)" role="progressbar" style="width: @line.PercentComplete%">
                    <span class="sr-only">@line.PercentComplete% Complete</span>
                </div>
            </div>
        </div>
        <div class="col-md-1 text-center">
            @Html.ServiceCallActions(line.ServiceCallId)
        </div>
        <div class="clearfix"></div>
    </div>
}