@using Warranty.UI.Core.Helpers
@model Warranty.Core.Features.RepServiceCalls.ServiceRepServiceCallsModel

@if (Model.OpenServiceCalls.Any())
{
    foreach (var line in Model.OpenServiceCalls)
    {

        <div class="service-call-line cursor-pointer" onclick="location.href='@Url.Action("CallSummary", "ServiceCall", new {id=line.ServiceCallId})';">
            <div class="col-md-3">
                <strong>@Format.HomeOwner(line.HomeownerName, line.HomeownerNumber)</strong><br />@line.Address
            </div>
            <div class="col-md-2"><a href="#" class="hidden-lg hidden-md">@Format.PhoneNumber(line.PhoneNumber)</a></div>
            <div class="col-md-2">
                <small class="text-muted">
                    @Html.ActionLink(line.JobNumber, "JobSummary", "Job", new { id = line.JobId }, null)
                </small><br />@Format.YearsWithinWarranty(line.YearsWithinWarranty, line.WarrantyStartDate)
            </div>
            <div class="col-md-1 hidden-sm hidden-xs">
                @Format.NumberOfLineItems(line.NumberOfLineItems)
            </div>
            <div class="col-md-1">@Format.Escalated(line.IsEscalated, line.EscalationReason, line.EscalationDate)</div>
            <div class="col-md-1">@Format.SpecialProject(line.IsSpecialProject)</div>
            <div class="col-md-2 pull-right has-bottom-tooltip" title="@Format.DateForServiceCallWiget(line.CreatedDate)">
                <span class="glyphicon glyphicon-time text-muted"></span> @Format.ServiceCallDaysLeft(@line.NumberOfDaysRemaining)<br />
                <div class="progress time-remaining-progress hidden-sm hidden-xs">
                    <div class="progress-bar @Css.ServiceCallProgressBar(line.NumberOfDaysRemaining)" role="progressbar" style="width: @line.PercentComplete%">
                        <span class="sr-only">@line.PercentComplete% Complete</span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    }
}
else
{
    <em>No open calls</em>
}