@using Warranty.Core.Features.HelpDoc
@model HelpDocModel
@helper FeatureItemLink(string name, int count)
{
    if (count > 0)
    {
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@name</a>
    }
    else
    {
        <text>@name</text>
    }
}
<div id="helpDocsModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Help Documents</h4>
            </div>
            <form id="helpDocsForm">
                <div class="modal-body">
                    <ul>
                        @foreach (var docFeature in Model.DocumentFeatures)
                        {
                            <li>
                                <b>@docFeature.DocFeatureName</b>
                                <ul>
                                    @foreach (var docFeatureItem in docFeature.DocumentFeatureItems)
                                    {
                                        if (docFeatureItem.DocFeatureId == docFeature.DocFeatureId)
                                        {
                                            <li class="@(docFeatureItem.DocumentItemsUrl.Count > 0 ? "dropdown" : "")">                                              
                                                @FeatureItemLink(docFeatureItem.DocFeatureItemName, docFeatureItem.DocumentItemsUrl.Count)
                                                <ul class="dropdown-menu">
                                                    @foreach (var item in docFeatureItem.DocumentItemsUrl)
                                                    {                                                        
                                                        <li><a href="@item.Url" data-toggle="modal" target="_blank">@item.ItemDocName</a></li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>