@using Warranty.UI.Core.Enumerations
@using Warranty.UI.Core.Helpers
@helper NavItemHelper(NavItem navItem, string url, string data = null)
{
    data = data ?? String.Empty;
    <li class="@(navItem.DisplayName.Equals(ViewData[Warranty.UI.Core.Filters.CurrentNavSectionAttribute.ViewDataKey]) ? "active" : "")">
        <a @data href="@url">@navItem.Title</a>
    </li>
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/font.css" rel="stylesheet" />
    <link href="~/css/less/bootstrap.less" rel="stylesheet" media="screen" />
    <link href="~/css/site.css" rel="stylesheet" media="screen" />
    <link href="~/css/less/responsive.less" rel="stylesheet" media="screen" />
    <link href="~/css/site-responsive.css" rel="stylesheet" media="screen" />
    <link href="~/css/datepicker.css" rel="stylesheet" media="screen" />
    <link href="~/css/datatables.css" rel="stylesheet" media="screen" />
    <link href="~/css/fullcalendar.css" rel="stylesheet" />
    <link href="~/css/bootstrap-tagmanager.css" rel="stylesheet" />
    <link href="~/css/colorpicker.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <link href="~/css/site-ie8.css" rel="stylesheet" media="screen" />
        <script src="~/Scripts/html5shiv.js"></script>
    <![endif]-->
    
    @Html.Partial("_RequireJsConfig")
    <script src="~/Scripts/lib/require.js"></script>
    @if (EnvironmentHelper.IsDevelopment)
    {
        <script>
            requirejs.onResourceLoad = function (context, map, depArray) {
                console.info('requirejs loaded [' + map.id + '] ' + map.url);
                if (map.parentMap)
                    parseParentMap(map.parentMap);
            };

            function parseParentMap(parentMap) {
                console.info('  loaded from [' + parentMap.id + '] ' + parentMap.url);
                if (parentMap.parentMap)
                    parseParentMap(parentMap.parentMap);
            };
        </script>
    }

    @RenderSection("header", required: false)
</head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand brand-logo" href="@Url.Action("Index", "Home", new {Area = ""})">
                        <img src="@Url.Content("~/img/DWH logo_color_233x34.png")" />
                    </a>
                    <div class="nav-collapse collapse">
                        <div id="loadingIndicator" class="loading-gif well">
                            <img src="/img/loader.gif" alt="Processing">
                            <h4>Processing</h4>
                        </div>
                        <ul class="nav pull-right">
                            <li class="divider divider-vertical"></li>
                            @Html.Partial("_HelpMenu")
                        </ul>
                        <a class="brand brand-module" href="@Url.Action("Index", "Home", new {Area = ""})">Warranty</a>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        
        <div class="subnav subnav-fixed">
            <div class="nav nav-extra">
                <div class="input-prepend input-append pull-right" style="margin: 3px 0 0 0;">
                    <input id="searchBar" type="text" class="span3 contract-search" autocomplete="off" placeholder="Search Jobs">
                    <div class="btn-group">
                        <button class="btn dropdown-toggle" data-toggle="dropdown">Type <span class="caret"></span></button>
                        <ul class="dropdown-menu pull-right">
                            <li><a class="search-selector" data-search-type="" href="#">Field 1</a></li>
                            <li><a class="search-selector" data-search-type="" href="#">Field 2</a></li>
                            <li><a class="search-selector" data-search-type="" href="#">Field 3</a></li>
                            <li><a class="search-selector" data-search-type="" href="#">Field 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav nav-pills">
                @NavItemHelper(NavItem.Home, Url.Action("Index", "Home", new { Area = "" }))
            </ul>
        </div>

        <div class="container main-container">
            @RenderBody()

            <div class="clearfix"></div>
            <hr />
            <footer>
                <p class="text-center muted">
                    Version: @VersionHelper.ApplicationVersionNumber()
                </p>
            </footer>
        </div>
        <!-- /container -->

        <script>
            require(['app/shared/searchBar', 'bootstrap', 'jquery.validate', 'app/shared/unobtrusiveFeatures', 'app/shared/polyfill', 'app/shared/knockoutExtensions'], function (searchbar) {
                @*$(function () {
                    searchbar.initialize(@((int) typeToSearchFor));
                });*@
                // add this later when we implement search
            });
        </script>
        @RenderSection("scripts", required: false)
    </body>
</html>
