@using System.Web.Optimization
@using Warranty.Core.Enumerations
@using Warranty.UI.Core.Enumerations
@using Warranty.UI.Core.Helpers

@helper NavHeaderItemHelper(NavHeaderItem item)
{
    <li><a href="@Url.Action(item.Action, item.Controller)">@item.DisplayName</a></li>
}

@helper NavItemSectionHelper(string key)
{
    if (key == NavHeaderItem.Home.Key)
    {
        @NavHeaderItemHelper(NavHeaderItem.GetAll(key).First())
    }
    else
    {
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">@key <b class="caret"></b></a>
            <ul class="dropdown-menu">
                @foreach (var item in NavHeaderItem.GetAll(key))
                {
                    if (
                        (key == NavHeaderItem.Reports.Key && (User.IsInRole(UserRoles.WarrantyServiceCoordinator) || User.IsInRole(UserRoles.CustomerCareManager))) ||
                        (key == NavHeaderItem.Reports.Key && item.Value == NavHeaderItem.MailMergeReport.Value && User.IsInRole(UserRoles.WarrantyServiceRepresentative)) ||
                        (key == NavHeaderItem.Reports.Key && item.Value == NavHeaderItem.WsrCallSummary.Value && User.IsInRole(UserRoles.WarrantyServiceRepresentative)) ||
                        (key == NavHeaderItem.Administration.Key && item.Value != NavHeaderItem.ManageCostCode.Value && (User.IsInRole(UserRoles.WarrantyServiceCoordinator) || User.IsInRole(UserRoles.CustomerCareManager))) ||
                        (key == NavHeaderItem.Administration.Key && item.Value == NavHeaderItem.ManageCostCode.Value && User.IsInRole(UserRoles.WarrantyAdmin))
                        )
                    {
                        if (item.HasDivider)
                        {
                            <li class="divider"></li>
                        }
                        @NavHeaderItemHelper(item)
                    }
                }
            </ul>
        </li>
    }
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title - Warranty - David Weekley Homes</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/css/less/main")
    @Styles.Render("~/css/extra")
    @Styles.Render("~/css/datepicker3.css")

    @Html.Partial("_RequireJsConfig")
    @RenderSection("header", required: false)

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="/Scripts/lib/html5shiv.js"></script>
        <script src="/Scripts/lib/respond.min.js"></script>
    <![endif]-->
    @{ Html.RenderAction("GetRequireJsUrl", "Home");}
    <script>
        define('urls', [], function () {
            return @{ Html.RenderAction("GetApiUrls", "Home");};
        });
    </script>
    @RenderSection("modules", required: false)
    @Html.RenderScripts()
    @{ Html.RenderAction("GetPageRequireJs", "Home", new { context = ViewContext });}
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top no-print">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="@Url.Content("~/img/DWH logo_color_233x34.png")" class="img-responsive" /></a>
            </div>
            <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
                <li class="divider divider-vertical"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><span class="logged-in-user">Logged in as: @User.Identity.Name</span></li>
                        <li class="divider"></li>
                        <li><a href="#">Documentation</a></li>
                        <li class="divider"></li>
                        <li><a href="#feedbackModal" data-toggle="modal">Contact Help Desk</a></li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Sign Out", "SignOut", "Help")</li>
                        <li class="divider"></li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-brand pull-right hidden-xs">Warranty</div>

        </div>
    </div>

    <div id="subNavMenu" class="subnav subnav-fixed no-print" role="navigation">
        <div class="container">
            <ul class="nav navbar-nav hidden-xs">
                @NavItemSectionHelper(NavHeaderItem.Home.Key)
                <li class="divider divider-vertical hidden-xs"></li>
                @NavItemSectionHelper(NavHeaderItem.Reports.Key)
                <li class="divider divider-vertical hidden-xs"></li>
                @if (User.IsInRole(UserRoles.WarrantyServiceCoordinator) || User.IsInRole(UserRoles.CustomerCareManager) || User.IsInRole(UserRoles.WarrantyAdmin))
                {
                    @NavItemSectionHelper(NavHeaderItem.Administration.Key)
                    <li class="divider divider-vertical hidden-xs"></li>
                }
                @{ Html.RenderAction("MyTeamDropdown", "Home"); }
            </ul>
            <div class="main-search nav-extra">
                <div class="input-group vertical-menu-scroll">
                    <input id="searchBar" name="query" type="text" class="form-control main-search" autocomplete="off" placeholder="" />
                    <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container main-container">
        @RenderBody()
    </div>

    <div class="container">
        <hr />
        <footer class="no-print">
            <p class="text-center text-muted">
                <a class="visible-xs" href="#feedbackModal" data-toggle="modal">Contact Help Desk</a>
                Version: @VersionHelper.ApplicationVersionNumber()
            </p>
        </footer>
    </div>
    @Html.Partial("_FeedbackModal")
    @RenderSection("scripts", required: false)

    @Html.RenderToastMessage()
</body>
</html>