@using System.Web.Optimization
@using Warranty.UI.Core.Enumerations
@using Warranty.UI.Core.Helpers
@helper NavItemHelper(NavItem navItem, string url, string data = null)
{
    data = data ?? String.Empty;
    <li class="@(navItem.DisplayName.Equals(ViewData[Warranty.UI.Core.Filters.CurrentNavSectionAttribute.ViewDataKey]) ? "active" : "")">
        <a @data href="@url">@navItem.Title</a>
    </li>
}

@helper NavHeaderItemHelper(NavHeaderItem item)
{
    <li><a href="@Url.Action(item.Action, item.Controller)">@item.DisplayName</a></li>
}

@helper NavItemSectionHelper(string key)
{
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">@key <b class="caret"></b></a>
        <ul class="dropdown-menu">
            @foreach (var item in NavHeaderItem.GetAll(key))
            {
                if (item.HasDivider)
                {
                    <li class="divider"></li>
                }
                @NavHeaderItemHelper(item)
            }
        </ul>
    </li>
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title - Warranty - David Weekley Homes</title>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/css/less/main")
    @Styles.Render("~/css/extra")
    
    @Html.Partial("_RequireJsConfig")
    @RenderSection("header", required: false)

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="/Scripts/lib/html5shiv.js"></script>
      <script src="/Scripts/lib/respond.min.js"></script>
    <![endif]-->

    @{ Html.RenderAction("GetRequireJSUrl", "Home", new { context = ViewContext });}
    <script>
        define('urls', [], function() {
            return @{ Html.RenderAction("GetApiUrls", "Home");};
        });
    </script>
    @RenderSection("modules", required: false)
</head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img src="@Url.Content("~/img/DWH logo_color_233x34.png")" /></a>
                </div>
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li class="divider divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><span class="logged-in-user">Logged in as: @User.Identity.Name</span></li>
                            <li class="divider"></li>
                            <li><a href="#feedbackModal" data-toggle="modal">Contact Developer</a></li>
                            <li class="divider"></li>
                        </ul>
                    </li>                
                </ul>
                <div class="navbar-brand pull-right hidden-xs">Warranty</div>
            </div>
        </div>

        <div class="subnav subnav-fixed">
            <div class="container">
                <ul class="nav navbar-nav">
                    @NavItemHelper(NavItem.Home, Url.Action("Index", "Home"))
                    <li class="divider divider-vertical hidden-xs"></li>
                </ul>
                <div class="nav nav-extra">
                    <div class="col-md-3 pull-right">
                        <div class="input-group">
                            <input id="searchBar" name="query" type="text" class="form-control main-search" autocomplete="off" placeholder=""/>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Type <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container main-container">
            @RenderBody()
        </div>

        <div class="container">
            <hr/>
            <footer>
                <p class="text-center text-muted">
                    Version: @VersionHelper.ApplicationVersionNumber()
                </p>
            </footer>
        </div>
        @Html.Partial("_FeedbackModal")
        @RenderSection("scripts", required: false)

        @Html.RenderToastMessage()
    </body>
</html>
