@using System.Web.Optimization
@using Warranty.UI.Core.Enumerations
@using Warranty.UI.Core.Helpers
@helper NavItemHelper(NavItem navItem, string url, string data = null)
{
    data = data ?? String.Empty;
    <li class="@(navItem.DisplayName.Equals(ViewData[Warranty.UI.Core.Filters.CurrentNavSectionAttribute.ViewDataKey]) ? "active" : "")">
            <a @data href="@url">@navItem.Title</a>
    </li>
}

@helper NavHeaderItemHelper(NavHeaderItem item)
{
    <li><a href="@Url.Action(item.Action, item.Controller)">@item.DisplayName</a></li>
}

@helper NavItemSectionHelper(string key)
{
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">@key <b class="caret"></b></a>
        <ul class="dropdown-menu">
            @foreach (var item in NavHeaderItem.GetAll(key))
            {
                if (item.HasDivider)
                {
                    <li class="divider"></li>
                }
                @NavHeaderItemHelper(item)
            }
        </ul>
    </li>
}

<!DOCTYPE html>

<html>
    <head>
        <title>@ViewBag.Title - Warranty - David Weekley Homes</title>
    
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        @Styles.Render("~/css/less/main")
        @Styles.Render("~/css/extra")
    
        @Html.Partial("_RequireJsConfig")
        @RenderSection("header", required: false)

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="/Scripts/lib/html5shiv.js"></script>
            <script src="/Scripts/lib/respond.min.js"></script>
        <![endif]-->

        @{ Html.RenderAction("GetRequireJSUrl", "Home", new { context = ViewContext });}
        <script>
            define('urls', [], function() {
                return @{ Html.RenderAction("GetApiUrls", "Home");};
            });
        </script>
        @RenderSection("modules", required: false)
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img src="@Url.Content("~/img/DWH logo_color_233x34.png")" /></a>
                </div>
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li class="divider divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><span class="logged-in-user">Logged in as: @User.Identity.Name</span></li>
                            <li class="divider"></li>
                            <li><a href="#feedbackModal" data-toggle="modal">Contact Developer</a></li>
                            <li class="divider"></li>
                        </ul>
                    </li>                
                </ul>
                <div class="navbar-brand pull-right hidden-xs">Warranty</div>
            </div>
        </div>
        
        <!--Menu for Desktop view.-->
        <div class="visible-lg subnav subnav-fixed">
            <div class="container">
                <ul class="nav navbar-nav no-bottom-margin">
                    @NavItemHelper(NavItem.Home, Url.Action("Index", "Home"))
                </ul>
                <div class="nav nav-extra">
                    <div class="col-md-3 pull-right">
                        <div class="input-group">
                            <input id="searchBar" name="query" type="text" class="form-control main-search" autocomplete="off" placeholder=""/>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Type <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--Menu for Mobile view.-->
        <div class="visible-xs subnav subnav-fixed" >
            <div class="container">
                <div class="navbar-header">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSubMenuMobile">
                                <button type="button" class="navbar-toggle collapsed no-top-margin no-bottom-margin" data-toggle="collapse" data-target="#navbar-collapse-submenu">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                                <a href="@Url.Action("Index", "Home")" class="navbar-brand @(NavItem.Home.DisplayName.Equals(ViewData[Warranty.UI.Core.Filters.CurrentNavSectionAttribute.ViewDataKey]) ? "active" : "")">@NavItem.Home.Title</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container main-container">
            <!--Menu for Mobile view.-->
            <div class="visible-xs">
                <div id="collapseSubMenuMobile" class="collapse">
                    <div class="col-md-3 pull-right">
                        <div class="input-group">
                            <input id="searchBarMobile" name="query" type="text" class="form-control main-search" autocomplete="off" placeholder=""/>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle margin-bottom-4" data-toggle="dropdown">Type <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @RenderBody()
        </div>

        <div class="container">
            <hr/>
            <footer>
                <p class="text-center text-muted">
                    Version: @VersionHelper.ApplicationVersionNumber()
                </p>
            </footer>
        </div>
        @Html.Partial("_FeedbackModal")
        @RenderSection("scripts", required: false)

        @Html.RenderToastMessage()
    </body>
</html>