Here are the details of the new Homeowner Payment that was requested:<br />
<br />

<strong>Warranty Service Call: </strong> <a href="@ViewBag.Url">@ViewBag.ServiceCallNumber</a>
<br />
<strong>Line Item: </strong>@ViewBag.LineItem
<br />
<br />
<br />
<strong>Home Owner's Name: </strong>@ViewBag.HomeOwnerName
<br />
<strong>Job#: </strong>@ViewBag.JobNumber
<br />
<strong>Address: </strong>@ViewBag.AddressLine
<br />
<strong>Home Owner's Email: </strong>@ViewBag.HomeownerEmail
<br />
<strong>Home Phone: </strong># @ViewBag.HomePhone
<br />
<br />
<br/>
<br />
<strong>Payment Amount: </strong>@ViewBag.Amount
<br />
<strong>Comments: </strong>@ViewBag.Comments
<br />
<strong>Check destination: </strong>@ViewBag.CheckDestination