Here are the details of the Warranty Service Call that has been escalated:<br />
<br />

<strong>Warranty Service Call: </strong> <a href="@ViewBag.Url">@ViewBag.ServiceCallNumber</a>
<br />
<strong>Home Owner's Name: </strong>@ViewBag.HomeOwnerName
<br />
<strong>Home Phone: </strong># @ViewBag.HomePhone
<br />
<strong>Community: </strong>@ViewBag.CommunityName
<br />
<strong>Address: </strong>@ViewBag.AddressLine
<br />
@if (ViewBag.LineItems != null)
{
    <strong>Line Items:</strong>
    <table style="border:1px solid #dddddd;width: 100%;margin-top:5px;">
        <tr>
            <td style="border:1px solid #dddddd;width:10%;text-align:center;">Line Item(s)</td>
            <td style="border:1px solid #dddddd;width:15%;text-align:center;">Problem Code(s) </td>
            <td style="border:1px solid #dddddd;width:75%;text-align:center;">Description(s) </td>
        </tr>
        @foreach (var item in ViewBag.LineItems)
        {
            <tr style="border:1px solid #dddddd;">
                <td style="border:1px solid #dddddd;text-align:center">@item.LineNumber</td>
                <td style="border:1px solid #dddddd;text-align:left">@item.ProblemCode</td>
                <td style="border:1px solid #dddddd;text-align:left">@item.ProblemDescription</td>
            </tr>
        }
    </table>
}
@if (((List<string>)@ViewBag.Comments).Any())
{
    <strong>Comments:</strong>
    <ul>
    @foreach (var comment in @ViewBag.Comments)
    {
        if (!String.IsNullOrEmpty(comment))
        {
            <li>@comment</li>
        }
    }
    </ul>
}