Here are the details of the Warranty Service Call that was completed:<br />
<br />

<strong>Warranty Service Call: </strong> <a href="@ViewBag.Url">@ViewBag.ServiceCallNumber</a>
<br />
<strong>Home Owner's Name: </strong>@ViewBag.HomeOwnerName
<br />
<strong>Home Phone: </strong># @ViewBag.HomePhone
<br />
<strong>Community: </strong>@ViewBag.CommunityName
<br />
<strong>Address: </strong>@ViewBag.AddressLine
<br />
@if (((List<string>)@ViewBag.Comments).Any())
{
    <strong>Comments:</strong>
    <ul>
    @foreach (var comment in @ViewBag.Comments)
    {
        <li>@comment</li>
    }
    </ul>
}